<%- include('partials/header') %>
<!-- BODY -->
<div class="row">
  <!-- SIDE BAR -->
  <div class="col-lg-2 col-md-3 col-sm-12 shadow-two admin-side">
    <nav id="nav" class="">
      <button
        class="navbar-toggler d-lg-none d-flex justify-content-end my-2 ms-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasResponsive"
      >
        <span class="navbar-toggler-icon navbar-dark bg-tertiary d-flex"></span>
      </button>
      <div
        class="offcanvas-lg offcanvas-start"
        tabindex="-1"
        id="offcanvasResponsive"
        aria-labelledby="offcanvasResponsiveLabel"
      >
        <div class="offcanvas-header">
          <a class="navbar-brand d-lg-none" href="#">LIFELINE</a>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            data-bs-target="#offcanvasResponsive"
          ></button>
        </div>
        <div class="mt-lg-2">
          <img class="admin-pic" src="images/Pic.png" alt="" />
          <ul class="nav navbar-nav admin-ul">
            <a class="admin-list" href="#adminDash"
              ><i class="fa-solid fa-clipboard admin-icon"></i> DASHBOARD
            </a>

            <a class="admin-list" href="#adminTutors"
              ><i class="fa-solid fa-users admin-icon"></i> TUTORS
              <i class="fa-solid fa-chevron-down ms-5 admin-icon"></i
            ></a>

            <a class="admin-list" href="#adminClients"
              ><i class="fa-solid fa-handshake admin-icon"></i> CLIENTS
              <span class="admin-icon"
                ><i class="fa-solid fa-chevron-down ms-5"></i></span
            ></a>

            <a class="admin-list dropdown" href="#" data-bs-toggle="dropdown">
              <i class="fa-solid fa-link admin-icon"></i> LINKS
              <i class="fa-solid fa-sort-down"></i>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Upload Contract</a></li>
                <li><a class="dropdown-item" href="#">Send Email</a></li>
                <li>
                  <a class="dropdown-item" href="#">Post Notice</a>
                </li>
              </ul>
            </a>

            <a
              class="admin-list dropdown"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
            >
              <i class="fa-solid fa-file-invoice-dollar admin-icon"></i> FINANCE
              <i class="fa-solid fa-sort-down"></i>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">Tutor PayRoll</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Client Payments</a>
                </li>

                <li>
                  <a class="dropdown-item" href="#">Company Revenue</a>
                </li>
              </ul>
            </a>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!-- MAIN AREA -->
  <div class="col-lg-10">
    <nav class="navbar navbar-expand-lg d-none d-lg-block shadow-one">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand me-auto mb-2 mb-lg-0 text-danger" href="#"
            >LIFELINE</a
          >

          <div class="me-2">
            <button type="button" class="btn btn-success">
              Messages <i class="fa-solid fa-message ps-2"></i>
            </button>
            <button type="button" class="btn btn-primary">
              Notification <i class="fa-solid fa-bell ps-1"></i>
            </button>
            <button type="button" class="btn btn-primary">
              <%= dayOfWeek %>
              <i class="fa-solid fa-calendar-check ps-1"></i>
            </button>
          </div>

          <form class="d-flex" role="search">
            <input
              class="form-control me-2 shadow-two"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-danger" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <section id="adminDash" class="admin-body mb-5">
      <!-- STATISTICS -->
      <div class="row my-lg-4 my-5 pt-3">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="revenue shadow-two bg-white hover">
            <h4>Applicants</h4>
            <h5><%= applicants %></h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tutor shadow-two bg-white hover">
            <h4>Tutors</h4>
            <h5><%= noOfTutors %></h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="client shadow-two bg-white hover">
            <h4>Contracts</h4>
            <h5><%= noOfContracts %></h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="profit shadow-two bg-white hover">
            <h4>Request</h4>
            <h5><%= noOfProspects %></h5>
          </div>
        </div>
      </div>

      <!-- CLIENT PANEL -->
      <section class="shadow-two py-2 px-lg-3">
        <div class="row">
          <div class="col-lg-7 me-auto">
            <div
              class="btn-toolbar my-3"
              role="toolbar"
              aria-label="Toolbar with button groups"
            >
              <a class="navbar-brand me-4 fs-4" href="#">Clients</a>
              <div class="me-2" role="group" aria-label="First group">
                <button
                  id="clientsBtn"
                  type="button"
                  class="btn btn-outline-success active"
                >
                  Contracts <i class="fa-solid fa-user px-2"></i>
                </button>
                <button
                  id="prospectsBtn"
                  type="button"
                  class="btn btn-outline-success"
                >
                  Prospects<i class="fa-solid fa-rotate px-2"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-success"
                  data-bs-toggle="modal"
                  data-bs-target="#regClient"
                >
                  Add Client <i class="fa-solid fa-user-plus"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <form class="form-control-sm" role="search">
              <input
                class="shadow-one form-control mt-lg-2 mt-3"
                type="search"
                id="clientSearchBar"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </div>
        </div>

        <!-- CLIENT REGISTRATION MODAL -->
        <div
          class="modal fade"
          id="regClient"
          tabindex="-1"
          aria-labelledby="regClient"
          aria-hidden="true"
        >
          <div
            class="modal-content modal-dialog modal-dialog-centered modal-dialog-scrollable"
          >
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                CLIENT REGISTRATION
              </h1>
              <!-- <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button> -->
            </div>

            <div class="modal-body"><%- include('partials/form') %></div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-danger px-2"
                data-bs-dismiss="modal"
              >
                Close <i class="fa-regular fa-circle-xmark"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- CLIENT DATA TABLE -->
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <!-- <h4>Tutors</h4> -->
            <thead>
              <tr>
                <th>S/NO</th>
                <th>Client</th>
                <th>Contact</th>
                <th>Ward</th>
                <th>Relation</th>
                <th>Sessions</th>
                <th>Fees</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% clients.forEach(function(client, index) { %>
              <tr data-application-id="<%= client.id %>">
                <td><%= index + 1 %></td>
                <td><%= client.data.parent %></td>
                <td>
                  <a href="tel:<%= client.data.contact %>"
                    ><%= client.data.contact %></a
                  >
                </td>
                <td><%= client.data.student %></td>
                <td><%= client.data.relationship %></td>
                <td><%= client.data.weeklySession %></td>
                <td>
                  <% if (client.data.fees > 200) { %>
                  <button type="button" class="btn btn-success">
                    <%= client.data.fees %>
                  </button>
                  <% } else { %>
                  <button type="button" class="btn btn-danger">
                    <%= client.data.fees %>
                  </button>
                  <% } %>
                </td>

                <td>
                  <!-- ACTION BUTTONS -->
                  <div class="d-flex justify-content-center">
                    <!-- <button
                      type="button"
                      class="btn tutorIcon me-2 view-details"
                      data-bs-toggle="modal"
                      data-bs-target="#detail"
                    >
                      <a><i class="fa-solid fa-expand"></i></a>
                    </button> -->

                    <button
                      type="button"
                      class="btn tutorIcon me-2 update-data"
                      data-bs-toggle="modal"
                      data-bs-target="#update"
                    >
                      <a><i class="fa-solid fa-pen-to-square"></i></a>
                    </button>

                    <!-- <button class="btn tutorIcon me-2 delete-row">
                      <a><i class="fa-solid fa-trash"></i></a>
                    </button> -->
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </section>

      <!-- APPLICANTS AND TUTORS -->
      <section id="tutorData" class="my-3 py-2 px-lg-3 shadow-two">
        <!-- <h3 class="py-1">TUTOR PANEL</h3> -->
        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <!-- <a class="navbar-brand text-start" href="#">APPLICATIONS</a> -->
            <button
              class="navbar-toggler dropdown-toggle-split"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavDarkDropdown"
              aria-controls="navbarNavDarkDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav nav nav-tabs">
                <div
                  class=""
                  role="group"
                  aria-label="Basic radio toggle button group"
                >
                  <a class="navbar-brand me-4 fs-4" href="#">Tutors</a>
                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio1"
                    autocomplete="off"
                    checked
                  />
                  <label class="btn btn-outline-success" for="btnradio1">
                    <span class="badge bg-danger me-2 shadow-two rounded-pill"
                      ><%= applicants %></span
                    >Applicants</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio2"
                    autocomplete="off"
                  />

                  <label class="btn btn-outline-success" for="btnradio2"
                    ><span class="badge bg-danger me-2 shadow-two rounded-pill"
                      ><%= noOfTutors %></span
                    >Tutors <i class="fa-solid fa-folder"></i
                  ></label>

                  <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="btnradio3"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-success" for="btnradio3"
                    >Pending <i class="fa-solid fa-users"></i
                  ></label>
                </div>
              </ul>
              <form class="form-control-sm mx-5 ms-auto" role="search">
                <input
                  class="me-2 shadow-one form-control"
                  type="search"
                  id="tutorSearchBar"
                  placeholder="Search"
                  aria-label="Search"
                />
              </form>
            </div>
          </div>
        </nav>

        <!-- APPLICANTS TABLE -->
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Education</th>
                <th>Status</th>
                <!-- <th>Location</th> -->
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="tutorApplicants">
              <% applications.forEach(function(application, index) { %>
              <tr data-application-id="<%= application.id %>">
                <td><%= index + 1 %></td>
                <td>
                  <%= application.data.lastName %> <%=
                  application.data.firstName %>
                </td>
                <td>
                  <a href="tel:<%= application.data.contact%>"
                    ><%= application.data.contact %></a
                  >
                </td>
                <td><%= application.data.studentStatus %></td>
                <td><%= application.data.status %></td>
                <!-- <td><%#= application.data.location %></td> -->
                <td><small><%= application.data.email %></small></td>
                <td>
                  <!-- ACTION BUTTONS -->
                  <div class="d-flex justify-content-center">
                    <button
                      type="button"
                      class="btn tutorIcon me-2 update-data"
                      data-bs-toggle="modal"
                      data-bs-target="#update"
                    >
                      <a><i class="fa-solid fa-pen-to-square"></i></a>
                    </button>

                    <button class="btn tutorIcon me-2 delete-row">
                      <a><i class="fa-solid fa-trash"></i></a>
                    </button>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <!-- Bootstrap Toast -->
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
          <div
            id="toastContainer"
            class="toast hide"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="toast-header">
              <strong class="me-auto">Update Status</strong>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Close"
              ></button>
            </div>
            <div class="toast-body" id="toastMessage"></div>
          </div>
        </div>

        <!-- UPDATE INFO -->
        <form action="/post" class="modal" id="update" tabindex="-1">
          <fieldset
            class="modal-content modal-dialog modal-dialog-centered modal-dialog-scrollable"
            data-section="1"
          >
            <div class="row modal-body modal-dialog-scrollable">
              <h5 class="my-4 d-flex justify-content-start modal-header">
                APPLICANT DATA
              </h5>

              <div class="col-lg-6">
                <label class="label" for="firstName">First Name</label>
                <input
                  id="firstName"
                  disabled
                  class="apply-input"
                  type="text"
                  name="firstName"
                  placeholder=""
                  autocapitalize="words"
                />
                <div class="error-message">This is a required field</div>
              </div>

              <div class="col-lg-6">
                <label class="label" for="lastName">Last Name</label>
                <input
                  id="lastName"
                  disabled
                  class="apply-input"
                  type="text"
                  name="lastName"
                  placeholder=""
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="DoB">Date of Birth</label>
                <input
                  class="apply-input"
                  type="text"
                  disabled
                  name="DoB"
                  id="DoB"
                  placeholder=""
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="tutorEmail">Email Address</label>
                <input
                  class="apply-input"
                  type="email"
                  name="tutorEmail"
                  id="tutorEmail"
                  disabled
                  placeholder="Enter Email Address"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="studentStatus">Student Status</label>
                <input
                  id="studentStatusOfApplicant"
                  disabled
                  class="apply-input"
                  type="text"
                  name="studentStatus"
                />
              </div>

              <!-- Graduate -->
              <div class="col-lg-6">
                <label class="label" for="schoolAttended"
                  >School Attended</label
                >
                <input
                  id="schoolAttended"
                  disabled
                  required
                  class="apply-input"
                  type="text"
                  name="schoolAttended"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="yearCompleted"
                  >Year of Completion</label
                >
                <input
                  id="yearCompleted"
                  required
                  class="apply-input"
                  disabled
                  type="text"
                  name="yearCompleted"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="courseStudied">Course Studied</label>
                <input
                  id="courseStudied"
                  required
                  class="apply-input"
                  disabled
                  type="text"
                  name="courseStudied"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="school">Certificate Attained</label>
                <input
                  id="certificateAttained"
                  required
                  class="apply-input"
                  disabled
                  type="text"
                  name="school"
                />
              </div>

              <!-- Undergraduate -->
              <div class="col-lg-6">
                <label class="label" for="course">School Attending</label>
                <input
                  id="schoolAttending"
                  required
                  disabled
                  class="apply-input"
                  type="text"
                  name="course"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="course">Level</label>
                <input
                  id="levelOfApplicant"
                  required
                  disabled
                  class="apply-input"
                  type="text"
                  name="course"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="course">Course Studying</label>
                <input
                  id="course"
                  required
                  disabled
                  class="apply-input"
                  type="text"
                  name="course"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="course">Certificate Pursuing</label>
                <input
                  id="certificatePursuing"
                  required
                  disabled
                  class="apply-input"
                  type="text"
                  name="course"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="statusofApplication"
                  >Application Status</label
                >
                <select
                  name="qualification"
                  id="qualification"
                  class="apply-input"
                >
                  <option value="qualified">Qualified</option>
                  <option value="disqualified">Disqualified</option>
                  <option value="pending">Pending</option>
                </select>
              </div>

              <div class="col-lg-6">
                <label class="label" for="statusofApplication">Rating</label>
                <select
                  name="rating"
                  id="applicationrating"
                  class="apply-input"
                >
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">C</option>
                </select>
              </div>

              <div class="col-lg-6">
                <label class="label" for="statusofApplication">Category</label>
                <select
                  name="category"
                  id="applicationCategory"
                  class="apply-input"
                >
                  <option value="tutor">Tutor</option>
                  <option value="applicant">Applicant</option>
                </select>
              </div>

              <!-- BUTTON -->
              <div
                class="py-3 d-lg-flex justify-content-end pe-lg-3 modal-footer"
              >
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>

                <button
                  class="btn btn-danger me-lg-3"
                  id="update-data"
                  type="submit"
                >
                  Update Data
                </button>
              </div>
            </div>
          </fieldset>
        </form>

        <!-- TUTORS TABLE -->
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <legend>LIFELINE TUTORS</legend>
            <!-- <h4>Tutors</h4> -->
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Education</th>
                <th>Status</th>
                <!-- <th>Location</th> -->
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% tutors.forEach(function(tutor, index) { %>
              <tr data-application-id="<%= tutor.id %>">
                <td><%= index + 1 %></td>
                <td><%= tutor.data.lastName %> <%= tutor.data.firstName %></td>
                <td><%= tutor.data.contact %></td>
                <td><%= tutor.data.studentStatus %></td>
                <td><%= tutor.data.status %></td>
                <!-- <td><%#= tutor.data.location %></td> -->
                <td><small><%= tutor.data.email %></small></td>
                <td>
                  <!-- ACTION BUTTONS -->
                  <div class="d-flex justify-content-center">
                    <!-- <button
                      type="button"
                      class="btn tutorIcon me-2 view-details"
                      data-bs-toggle="modal"
                      data-bs-target="#detail"
                    >
                      <a><i class="fa-solid fa-expand"></i></a>
                    </button> -->

                    <button
                      type="button"
                      class="btn tutorIcon me-2 update-data"
                      data-bs-toggle="modal"
                      data-bs-target="#update"
                    >
                      <a><i class="fa-solid fa-pen-to-square"></i></a>
                    </button>

                    <button class="btn tutorIcon me-2 delete-row">
                      <a><i class="fa-solid fa-trash"></i></a>
                    </button>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </section>
    </section>

    <!-- CONTRACT UPLOAD -->
    <section id="adminNotice" class="form-apply shadow-two my-3 row">
      <div class="col-lg-6 d-none d-lg-block pb-5"></div>
      <div class="col-lg-6 shadow-two bg-white">
        <h4 class="my-lg-4 my-2">UPLOAD CONTRACT</h4>
        <div class="my-lg-3">
          <!-- <label for="">CONTRACT TYPE:</label> <br /> -->
          <select name="type" id="" class="profile-input">
            <option value="">CONTRACT TYPE</option>
            <option value="DUO">DUO</option>
            <option value="TRI">TRI</option>
            <option value="QUAD">QUAD</option>
            <option value="PENT">PENT</option>
          </select>
        </div>

        <div class="">
          <!-- <label class="" for="">Mode of Tuition:</label> <br /> -->
          <select name="mode" id="" class="profile-input">
            <option value="">MODE OF TUITION</option>
            <option value="online">Online</option>
            <option value="in-person">In-Person</option>
          </select>
        </div>

        <div class="my-3">
          <!-- <label for="">Level:</label> <br /> -->
          <select name="level" id="" class="profile-input">
            <option value="">LEVEL OF STUDENT</option>
            <option value="KG">KINDERGARTEN</option>
            <option value="PRIMARY">PRIMARY</option>
            <option value="JHS">JHS</option>
            <option value="SHS">SHS</option>
          </select>
        </div>

        <div class="div">
          <!-- <label for="">Class:</label> <br /> -->
          <input
            class="profile-input"
            type="tel"
            name="class"
            placeholder="CLASS"
          />
        </div>

        <div class="my-3">
          <!-- <label for="">Subjects:</label> <br /> -->
          <textarea
            name="subjects"
            id=""
            class="profile-input-textarea"
            placeholder="TUITION SUBJECT(S)"
          ></textarea>
        </div>

        <div class="div">
          <!-- <label for="">Lesson Duration</label> <br /> -->
          <select name="duration" id="" class="profile-input">
            <option value="">LESSON DURATION</option>
            <option value="1 hour">1 hour</option>
            <option value="1.5 hours">1.5 hrs</option>
            <option value="2 hours">2 hrs</option>
            <option value="2.5 hours">2.5 hrs</option>
            <option value="3 hours">3 hrs</option>
          </select>
        </div>

        <div class="my-3">
          <!-- <label for="">Location:</label> <br /> -->
          <input
            class="profile-input"
            type="text"
            name="location"
            placeholder="LOCATION"
          />
        </div>

        <div class="div">
          <!-- <label for="">Allowance</label> <br /> -->
          <input
            class="profile-input"
            type="text"
            name="allowance"
            placeholder="ALLOWANCE"
          />
        </div>

        <button
          class="btn btn-success my-lg-4 my-3 shadow-two"
          type="submit"
          name="postContract"
        >
          POST CONTRACT
        </button>
      </div>
    </section>

    <!-- NOTICE BOARD -->
    <section id="adminNotice" class="form-apply shadow-two my-3 row">
      <div class="col-lg-6 d-none d-lg-block pb-5"></div>
      <div class="col-lg-6 shadow-two bg-white">
        <h4 class="my-lg-3">NOTICE BOARD</h4>
        <!-- <h3 class="py-1">NOTICE</h3> -->
        <form action="/notice" method="post" class="">
          <div class="my-4">
            <label class="d-flex justify-content-start" for="News Title"
              >TITLE</label
            >

            <input
              class="shadow-one form-control"
              type="text"
              name="title"
              placeholder="Notice Title"
            />
          </div>

          <div class="">
            <label class="label" for="News Title">DATE</label>
            <input
              class="shadow-one form-control"
              type="date"
              name="title"
              placeholder="Notice Title"
            />
          </div>

          <div class="my-4">
            <label for="sendTo" class="label">SEND TO:</label>
            <select name="sendTo" id="" class="shadow-one form-control">
              <!-- <option>Notice To:</option> -->
              <option value="all">All</option>
              <option value="tutors">Tutors</option>
              <option value="applicants">Applicants</option>
            </select>
          </div>

          <div class="">
            <label for="message" class="label">MESSAGE</label>
            <textarea
              class="form-control shadow-one"
              name="message"
              id=""
              placeholder="Enter notice"
            ></textarea>
          </div>
          <!-- <input type="text" name="news" placeholder="News" /> -->
          <div class="">
            <button
              class="btn btn-success shadow-one my-3"
              type="submit"
              name="sendNotice"
            >
              SEND NOTICE
            </button>
          </div>
        </form>
      </div>
    </section>

    <!-- EMAIL -->
    <section class="form-apply shadow-two my-lg-4 row">
      <div class="col-lg-6 d-none d-lg-block pb-5 shadow-two"></div>
      <div class="col-lg-6 shadow-two bg-white">
        <h4 class="my-lg-4">BULK EMAIL</h4>
        <!-- <h3 class="py-1">NOTICE</h3> -->
        <form action="/email" method="post" class="" id="emailForm">
          <div class="my-4">
            <label class="d-flex justify-content-start" for="News Title"
              >SUBJECT</label
            >

            <input
              class="form-control shadow-one"
              type="text"
              name="subject"
              placeholder="Enter email subject"
            />
          </div>

          <div class="">
            <label class="label" for="News Title">DATE</label>
            <input
              class="form-control shadow-one"
              type="date"
              name="date"
              placeholder="Notice Title"
            />
          </div>

          <div class="my-4">
            <label for="sendTo" class="label">SEND TO:</label>
            <select name="sendTo" id="" class="form-control shadow-one">
              <option value="all">All</option>
              <option value="tutors">Tutors</option>
              <option value="applicants">Applicants</option>
              <option value="clients">Clients</option>
              <option value="prospects">Prospects</option>
            </select>
          </div>

          <!-- <div class="my-4">
                <label for="sendTo" class="label mb-3">COPY TO:</label>
                <select name="sendTo" id="" class="form-control">
                  <option value="supervisors">Supervisors</option>
                  <option value="management">Management</option>
                  <option value="parents">Parents</option>
                </select>
              </div> -->

          <div class="">
            <label for="message" class="label">MESSAGE</label>
            <textarea
              class="form-control shadow-one"
              name="message"
              id=""
              placeholder="Enter notice"
            ></textarea>
          </div>

          <div class="text-success my-2" id="responseMessage"></div>

          <!-- <input type="text" name="news" placeholder="News" /> -->
          <div class="my-3">
            <button
              class="btn btn-success shadow-one"
              type="submit"
              id="adminEmail"
            >
              SEND EMAIL
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

<!-- <i class="fa-regular fa-square-plus"></i> -->

<%- include('partials/end') %>
