<%- include('partials/header') %>
<!-- BODY -->
<div class="row">
  <!-- SIDE BAR -->
  <div class="col-lg-2 col-md-3 col-sm-12 shadow-two admin-side">
    <nav id="nav" class="">
      <button
        class="navbar-toggler d-lg-none d-flex justify-content-end my-2 ms-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasResponsive"
      >
        <span class="navbar-toggler-icon navbar-dark bg-tertiary d-flex"></span>
      </button>
      <div
        class="offcanvas-lg offcanvas-start"
        tabindex="-1"
        id="offcanvasResponsive"
        aria-labelledby="offcanvasResponsiveLabel"
      >
        <div class="offcanvas-header">
          <a class="navbar-brand d-lg-none" href="#">LIFELINE</a>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            data-bs-target="#offcanvasResponsive"
          ></button>
        </div>
        <div class="mt-lg-2">
          <!-- <a class="navbar-brand" href="#">LIFELINE</a> -->
          <img class="admin-pic" src="images/Pic.png" alt="" />
          <ul class="nav navbar-nav admin-ul">
            <a class="admin-list" href="#adminDash"
              ><i class="bi-columns-gap me-2 text-white"></i> DASHBOARD
            </a>

            <a class="admin-list" href="#adminTutor"
              ><i class="bi-person-square me-2"></i> TUTORS
            </a>

            <a class="admin-list" href="#adminClient"
              ><i class="bi-person-lines-fill me-2"></i> CLIENTS
            </a>

            <a class="admin-list dropdown" href="#" data-bs-toggle="dropdown">
              <i class="bi-calendar2-range me-2"></i> LINKS
              <span class="admin-icon"
                ><i class="fa fa-chevron-down ms-5"></i
              ></span>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Upload Contract</a></li>
                <li><a class="dropdown-item" href="#">Send Email</a></li>
                <li>
                  <a class="dropdown-item" href="#">Post Notice</a>
                </li>
              </ul>
            </a>

            <a
              class="admin-list dropdown"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
            >
              <i class="bi-clipboard-data me-2 text-white"></i> FINANCE
              <span class="admin-icon"
                ><i class="fa fa-chevron-down ms-5"></i
              ></span>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">Tutor PayRoll</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Client Payments</a>
                </li>

                <li>
                  <a class="dropdown-item" href="#">Company Revenue</a>
                </li>
              </ul>
            </a>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!-- MAIN AREA -->
  <div class="col-lg-10">
    <nav class="navbar navbar-expand-lg d-none d-lg-block shadow-one">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand me-auto mb-2 mb-lg-0 text-danger" href="#"
            >LIFELINE</a
          >

          <div class="me-2">
            <button type="button" class="btn btn-success">
              <i class="bi-chat-left-text"></i>
            </button>
            <button type="button" class="btn btn-primary">
              <i class="bi-bell"></i>
            </button>
            <button type="button" class="btn btn-primary">
              <%= dayOfWeek %>
              <i class="fa-solid fa-calendar-check ps-1"></i>
            </button>
          </div>

          <form class="d-flex" role="search">
            <input
              class="form-control me-2 shadow-two"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-danger" type="submit">
              <i class="bi-search"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <section id="adminDash" class="admin-body mb-5">
      <!-- STATISTICS -->
      <div class="row my-lg-4 my-5 pt-3">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="revenue shadow-two bg-white hover">
            <h4>Applicants</h4>
            <h5><%= applicants %></h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="tutor shadow-two bg-white hover">
            <h4>Tutors</h4>
            <h5><%= noOfTutors %></h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="client shadow-two bg-white hover">
            <h4>Contracts</h4>
            <h5><%= noOfContracts %></h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="profit shadow-two bg-white hover">
            <h4>Request</h4>
            <h5><%= noOfProspects %></h5>
          </div>
        </div>
      </div>

      <!-- CLIENT PANEL -->
      <section id="adminClient" class="shadow-two py-2 px-lg-3">
        <div class="row">
          <!-- Buttons -->
          <div class="col-lg-7 me-auto">
            <div
              class="btn-toolbar my-3"
              role="toolbar"
              aria-label="Toolbar with button groups"
            >
              <a class="navbar-brand me-4 fs-4" href="#"> Clients</a>
              <div class="me-2" role="group" aria-label="First group">
                <button
                  id="clientsTableBtn"
                  type="button"
                  class="btn btn-outline-success"
                >
                  <span class="badge text-bg-danger me-2"
                    ><%= noOfContracts %></span
                  >Contracts
                </button>

                <button
                  id="prospectsTableBtn"
                  type="button"
                  class="btn btn-outline-success"
                >
                  <span class="badge text-bg-danger me-2"
                    ><%= noOfProspects %></span
                  >
                  Prospects<i class="fa fa-rotate px-2"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-outline-success"
                  data-bs-toggle="modal"
                  data-bs-target="#regClient"
                >
                  Add Client <i class="fa fa-user-plus"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <form class="form-control-sm" role="search">
              <input
                class="shadow-one form-control mt-lg-2 mt-3"
                type="search"
                id="clientSearchBar"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </div>
        </div>

        <!-- CLIENT REGISTRATION MODAL -->
        <div
          class="modal fade"
          id="regClient"
          tabindex="-1"
          aria-labelledby="regClient"
          aria-hidden="true"
        >
          <div
            class="modal-content modal-dialog modal-dialog-centered modal-dialog-scrollable"
          >
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                CLIENT REGISTRATION
              </h1>
              <!-- <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button> -->
            </div>

            <div class="modal-body"><%- include('partials/form') %></div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-danger px-2"
                data-bs-dismiss="modal"
              >
                Close <i class="fa-regular fa-circle-xmark"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- CLIENT AND PROSPECTS DATA TABLE -->
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <!-- <h4>Tutors</h4> -->
            <thead class="">
              <tr>
                <th>S/NO</th>
                <th>Client</th>
                <th>Contact</th>
                <th>Ward</th>
                <th>Relation</th>
                <th>Sessions</th>
                <th class="d-none">Client Id</th>
                <th>Fees</th>
                <th>Time</th>
              </tr>
            </thead>

            <tbody id="clientsData" class="shadow-one">
              <% clients.forEach(function(client, index) { %>
              <tr data-application-id="<%= client.id %>">
                <td><%= index + 1 %></td>
                <td><%= client.data.parent %></td>
                <td>
                  <a href="tel:<%= client.data.contact %>"
                    ><%= client.data.contact %></a
                  >
                </td>

                <td>
                  <a
                    href="#"
                    class="student-link"
                    data-clientId="<%= client.id %>"
                    ><%= client.data.student %></a
                  >
                </td>

                <td><%= client.data.relationship %></td>
                <td><%= client.data.weeklySession %></td>
                <td class="d-none"><%= client.id %></td>
                <td class="text-white">
                  <% if (client.data.fees > 200) { %>
                  <small class="bg-danger px-2 py-1">
                    <%= client.data.fees %>
                  </small>
                  <% } else { %>
                  <small class="bg-success px-2 py-1">
                    <%= client.data.fees %>
                  </small>
                  <% } %>
                </td>

                <!-- ACTION BUTTONS -->
                <td><%= client.data.periodLength %></td>
              </tr>
              <% }); %>
            </tbody>

            <tbody id="prospectsData" class="shadow-one">
              <% prospects.forEach(function(prospect, index) { %>
              <tr data-application-id="<%= prospect.id %>">
                <td><%= index + 1 %></td>
                <td><%= prospect.data.parent %></td>
                <td>
                  <a href="tel:<%= prospect.data.contact %>"
                    ><%= prospect.data.contact %></a
                  >
                </td>

                <td>
                  <a
                    href="#"
                    class="student-link"
                    data-prospectId="<%= prospect.id %>"
                    ><%= prospect.data.student %></a
                  >
                </td>

                <td><%= prospect.data.relationship %></td>
                <td><%= prospect.data.weeklySession %></td>
                <td class="d-none"><%= prospect.id %></td>
                <td class="text-white">
                  <% if (prospect.data.fees > 200) { %>
                  <small class="bg-danger"> <%= prospect.data.fees %> </small>
                  <% } else { %>
                  <small class="bg-success"> <%= prospect.data.fees %> </small>
                  <% } %>
                </td>

                <!-- ACTION BUTTONS -->
                <td><%= prospect.data.periodLength %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <!-- FINANCE TABLE -->
        <div class=""></div>
        <div class="table-responsive my-5">
          <table class="table table-bordered table-hover">
            <!-- <h4>Tutors</h4> -->
            <thead class="">
              <tr>
                <th>S/NO</th>
                <!-- <th>Client</th> -->
                <th>Ward</th>
                <th>Fees</th>
                <th>Contact</th>
                <th>Tutor</th>
                <th class="d-none">Tutor-Id</th>
                <th>Pay</th>
                <th>Status</th>
                <th class="d-none">Client Id</th>
              </tr>
            </thead>

            <tbody id="clientsData" class="shadow-one">
              <% clients.forEach(function(client, index) { %>
              <tr data-application-id="<%= client.id %>">
                <td><small><%= index + 1 %></small></td>
                <!-- <td><small><#%= client.data.parent %></small></td> -->

                <td>
                  <a
                    href="#"
                    class="student-link"
                    data-clientId="<%= client.id %>"
                    ><small><%= client.data.student %></small></a
                  >
                </td>

                <td class="text-white">
                  <% if (client.data.fees > 200) { %>
                  <small class="bg-success py-1 px-2">
                    <%= client.data.fees %>
                  </small>
                  <% } else { %>
                  <small class="bg-danger py-1 px-2">
                    <%= client.data.fees %>
                  </small>
                  <% } %>
                </td>

                <td>
                  <a href="tel:<%= client.data.contact %>"
                    ><small><%= client.data.contact %></small>
                  </a>
                </td>

                <td><small><%= client.data.tutor %></small></td>

                <td class="d-none">
                  <small><%= client.data.tutor_email%></small>
                </td>

                <td><%= client.data.remuneration%></td>

                <td><%= client.data.status%></td>

                <td class="d-none"><%= client.id %></td>
              </tr>
              <% }); %>
            </tbody>

            <tbody id="prospectsData" class="shadow-one">
              <% prospects.forEach(function(prospect, index) { %>
              <tr data-application-id="<%= prospect.id %>">
                <td><%= index + 1 %></td>
                <td><%= prospect.data.parent %></td>
                <td>
                  <a href="tel:<%= prospect.data.contact %>"
                    ><%= prospect.data.contact %></a
                  >
                </td>

                <td>
                  <a
                    href="#"
                    class="student-link"
                    data-prospectId="<%= prospect.id %>"
                    ><%= prospect.data.student %></a
                  >
                </td>

                <td><%= prospect.data.relationship %></td>
                <td><%= prospect.data.weeklySession %></td>
                <td class="d-none"><%= prospect.id %></td>
                <td>
                  <% if (prospect.data.fees > 200) { %>
                  <button type="button" class="btn btn-success">
                    <%= prospect.data.fees %>
                  </button>
                  <% } else { %>
                  <button type="button" class="btn btn-danger">
                    <%= prospect.data.fees %>
                  </button>
                  <% } %>
                </td>

                <!-- ACTION BUTTONS -->
                <td><%= prospect.data.periodLength %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <!-- CONTRACT UPDATE MODAL -->
        <div
          class="modal fade"
          id="studentInfo"
          tabindex="-1"
          aria-labelledby="studentInfo"
          aria-hidden="true"
        >
          <div
            class="modal-content modal-dialog modal-dialog-centered modal-dialog-scrollable"
          >
            <div class="modal-header row">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                CONTRACT DETAILS
              </h1>
            </div>

            <div class="modal-body" id="modalBody">
              <form
                action="/contractInfoUpdate"
                id="contractUpdate"
                method="post"
              >
                <div class="row">
                  <h6 class="fs-5 modal-title py-2">Parent Section</h6>
                  <div class="col-lg-6 my-2">
                    <label class="label" for="parent">Client</label>
                    <input
                      id="pName"
                      disabled
                      class="apply-input"
                      type="text"
                      name="parent"
                      placeholder=""
                      autocapitalize="words"
                    />
                  </div>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="relationship">Relation</label>
                    <input
                      id="pRelationship"
                      disabled
                      class="apply-input"
                      type="text"
                      name="relationship"
                      placeholder=""
                      autocapitalize="words"
                    />
                  </div>
                  <div class="col-lg-6 my-2">
                    <label class="label" for="contact">Mobile</label>
                    <input
                      id="pContact"
                      disabled
                      class="apply-input"
                      type="text"
                      name="contact"
                      placeholder=""
                      autocapitalize="words"
                    />
                  </div>
                  <div class="col-lg-6 my-2">
                    <label class="label" for="altContact">Phone</label>
                    <input
                      id="pOther"
                      disabled
                      class="apply-input"
                      type="text"
                      name="altContact"
                      placeholder=""
                      autocapitalize="words"
                    />
                  </div>
                  <div class="col-lg-6 my-2">
                    <label class="label" for="email">Email</label>
                    <input
                      id="pEmail"
                      disabled
                      class="apply-input"
                      type="email"
                      name="email"
                      placeholder=""
                    />
                  </div>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="pFee">Fee</label>
                    <input
                      id="pFee"
                      disabled
                      class="apply-input"
                      type="number"
                      name="fees"
                      placeholder=""
                    />
                  </div>

                  <!-- <div class="col-lg-6 my-2">
                    <label class="label" for="modeOfTeaching">Mode</label>
                    <input
                      name="modeOfTeaching"
                      id="pMode"
                      disabled
                      class="apply-input"
                      type="text"
                      placeholder=""
                    />
                  </div> -->

                  <div class="col-lg-6 my-2">
                    <label class="label" for="category">Category</label>
                    <select
                      required
                      name="category"
                      id="pCategory"
                      class="apply-input"
                    >
                      <option value="client">client</option>
                      <option value="request">request</option>
                    </select>
                  </div>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="weeklySession">Sessions</label>
                    <input
                      name="weeklySession"
                      id="pSessions"
                      disabled
                      class="apply-input"
                      type="text"
                      placeholder=""
                    />
                  </div>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="starting_Date">Started</label>
                    <input
                      name="starting_date"
                      id="contractStarted"
                      disabled
                      class="apply-input"
                      type="date"
                      placeholder=""
                    />
                  </div>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="status">Contract Status</label>
                    <select name="status" id="" class="apply-input" disabled>
                      <option value="active">active</option>
                      <option value="paused">paused</option>
                      <option value="terminated">terminated</option>
                      <option value="completed">completed</option>
                      <option value="yet-to-start">Yet to Start</option>
                    </select>
                  </div>

                  <h6 class="fs-5 modal-title py-2">Student Section</h6>
                  <div class="col-lg-6 my-2">
                    <label class="label" for="student">Student Name</label>
                    <input
                      id="sfirstName"
                      disabled
                      class="apply-input"
                      type="text"
                      name="student"
                      placeholder=""
                      autocapitalize="words"
                    />
                    <div class="error-message">This is a required field</div>
                  </div>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="sex">Date of Birth</label>
                    <input
                      id="sSex"
                      disabled
                      class="apply-input"
                      type="text"
                      name="sex"
                      placeholder=""
                    />
                  </div>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="DoB">Date of Birth</label>
                    <input
                      id="sdob"
                      disabled
                      class="apply-input"
                      type="text"
                      name="DoB"
                      placeholder=""
                    />
                  </div>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="level">Level</label>
                    <input
                      class="apply-input"
                      type="text"
                      disabled
                      name="level"
                      id="sLevel"
                      placeholder=""
                    />
                  </div>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="class">Class</label>
                    <input
                      class="apply-input"
                      type="text"
                      name="class"
                      id="sClass"
                      disabled
                      placeholder=""
                    />
                  </div>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="schoolName"
                      >School Attending</label
                    >
                    <input
                      name="schoolName"
                      disabled
                      class="apply-input"
                      id="schoolStudentAttends"
                      type="text"
                    />
                  </div>

                  <div class="col-12 my-2">
                    <label class="label" for="challenge">Challenges</label>
                    <textarea
                      name="challenge"
                      id="sChallenges"
                      disabled
                      class="form-control"
                    ></textarea>
                  </div>

                  <div class="col-12 my-2">
                    <label class="label" for="preferredSubjects"
                      >Tuition Objectives</label
                    >
                    <textarea
                      name="preferredSubjects"
                      disabled
                      id="tGoals"
                      class="form-control"
                    ></textarea>
                  </div>

                  <h6 class="fs-5 modal-title py-2">Tutor Section</h6>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="tutor">Name</label>
                    <input
                      name="tutor"
                      id="tutorAssigned"
                      disabled
                      class="apply-input"
                      type="text"
                    />
                  </div>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="tutor_contact">Contact</label>
                    <input
                      name="tutor_contact"
                      id="tutorAssignedContact"
                      disabled
                      class="apply-input"
                      type="text"
                    />
                  </div>

                  <div class="col-lg-6 my-2">
                    <label class="label" for="tutor_email">Email</label>
                    <input
                      name="tutor_email"
                      id="tutor_email"
                      disabled
                      class="apply-input"
                      type="text"
                    />
                  </div>

                  <!-- <div class="col-lg-6 my-2">
                    <label class="label" for="tutorMomoAccount"
                      >Momo Contact</label
                    >
                    <input
                      name="tutorMomoAccount"
                      id="tutorMomoAccount"
                      disabled
                      class="apply-input"
                      type="text"
                    />
                  </div> -->

                  <div class="col-lg-6 my-2">
                    <label class="label" for="remuneration">Remuneration</label>
                    <input
                      name="remuneration"
                      id="remuneration"
                      disabled
                      class="apply-input"
                      type="text"
                    />
                  </div>

                  <div class="col-lg-12 my-2">
                    <label class="label" for="tutorMomoAccount">Comment</label>
                    <textarea
                      name="comments"
                      id=""
                      class="apply-input"
                    ></textarea>
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary px-2"
                id="editContract"
              >
                Edit<i class="fa-regular fa-circle-check"></i>
              </button>

              <button
                type="submit"
                form="contractUpdate"
                class="btn btn-outline-success px-2"
              >
                Update <i class="fa-regular fa-circle-check"></i>
              </button>

              <button
                type="button"
                class="btn btn-outline-danger px-2"
                data-bs-dismiss="modal"
              >
                Close<i class="bi-x-circle"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
          <div
            id="toastContainer"
            class="toast hide"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="toast-header">
              <strong class="me-auto">Update Status</strong>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Close"
              ></button>
            </div>
            <div class="toast-body" id="toastMessage"></div>
          </div>
        </div>
      </section>

      <!-- TUTORS PANEL -->
      <section id="adminTutor" class="my-3 py-2 px-lg-3 shadow-two">
        <!-- <h3 class="py-1">TUTOR PANEL</h3> -->
        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <!-- <a class="navbar-brand text-start" href="#">APPLICATIONS</a> -->
            <button
              class="navbar-toggler dropdown-toggle-split"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavDarkDropdown"
              aria-controls="navbarNavDarkDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav nav nav-tabs">
                <div>
                  <a class="navbar-brand me-4 fs-4" href="#">Tutors</a>

                  <label class="btn btn-outline-success" id="tutorTableBtn"
                    ><span class="badge bg-danger me-2 shadow-two rounded-pill"
                      ><%= noOfTutors %></span
                    >Tutors <i class="fa-solid fa-folder"></i
                  ></label>

                  <label class="btn btn-outline-success" id="applicantTableBtn">
                    <span class="badge bg-danger me-2 shadow-two rounded-pill"
                      ><%= applicants %></span
                    >Applicants</label
                  >
                </div>
              </ul>
              <form class="form-control-sm mx-5 ms-auto" role="search">
                <input
                  class="me-2 shadow-one form-control"
                  type="search"
                  id="tutorSearchBar"
                  placeholder="Search"
                  aria-label="Search"
                />
              </form>
            </div>
          </div>
        </nav>

        <!-- Bootstrap Toast -->
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
          <div
            id="toastContainer"
            class="toast hide"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="toast-header">
              <strong class="me-auto">Update Status</strong>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Close"
              ></button>
            </div>
            <div class="toast-body" id="toastMessage"></div>
          </div>
        </div>

        <!-- UPDATE INFO -->
        <form action="/post" class="modal" id="update" tabindex="-1">
          <fieldset
            class="modal-content modal-dialog modal-dialog-centered modal-dialog-scrollable"
            data-section="1"
          >
            <div class="row modal-body modal-dialog-scrollable">
              <h5 class="my-4 d-flex justify-content-start modal-header">
                APPLICANT DATA
              </h5>

              <div class="col-lg-6">
                <label class="label" for="firstName">First Name</label>
                <input
                  id="firstName"
                  disabled
                  class="apply-input"
                  type="text"
                  name="firstName"
                  placeholder=""
                  autocapitalize="words"
                />
                <div class="error-message">This is a required field</div>
              </div>

              <div class="col-lg-6">
                <label class="label" for="lastName">Last Name</label>
                <input
                  id="lastName"
                  disabled
                  class="apply-input"
                  type="text"
                  name="lastName"
                  placeholder=""
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="DoB">Date of Birth</label>
                <input
                  class="apply-input"
                  type="text"
                  disabled
                  name="DoB"
                  id="DoB"
                  placeholder=""
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="tutorEmail">Email Address</label>
                <input
                  class="apply-input"
                  type="email"
                  name="tutorEmail"
                  id="tutorEmail"
                  disabled
                  placeholder="Enter Email Address"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="studentStatus">Student Status</label>
                <input
                  id="studentStatusOfApplicant"
                  disabled
                  class="apply-input"
                  type="text"
                  name="studentStatus"
                />
              </div>

              <!-- Graduate -->
              <div class="col-lg-6">
                <label class="label" for="schoolAttended"
                  >School Attended</label
                >
                <input
                  id="schoolAttended"
                  disabled
                  required
                  class="apply-input"
                  type="text"
                  name="schoolAttended"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="yearCompleted"
                  >Year of Completion</label
                >
                <input
                  id="yearCompleted"
                  required
                  class="apply-input"
                  disabled
                  type="text"
                  name="yearCompleted"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="courseStudied">Course Studied</label>
                <input
                  id="courseStudied"
                  required
                  class="apply-input"
                  disabled
                  type="text"
                  name="courseStudied"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="school">Certificate Attained</label>
                <input
                  id="certificateAttained"
                  required
                  class="apply-input"
                  disabled
                  type="text"
                  name="school"
                />
              </div>

              <!-- Undergraduate -->
              <div class="col-lg-6">
                <label class="label" for="course">School Attending</label>
                <input
                  id="schoolAttending"
                  required
                  disabled
                  class="apply-input"
                  type="text"
                  name="course"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="course">Level</label>
                <input
                  id="levelOfApplicant"
                  required
                  disabled
                  class="apply-input"
                  type="text"
                  name="course"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="course">Course Studying</label>
                <input
                  id="course"
                  required
                  disabled
                  class="apply-input"
                  type="text"
                  name="course"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="course">Certificate Pursuing</label>
                <input
                  id="certificatePursuing"
                  required
                  disabled
                  class="apply-input"
                  type="text"
                  name="course"
                />
              </div>

              <div class="col-lg-6">
                <label class="label" for="statusofApplication"
                  >Application Status</label
                >
                <select
                  name="qualification"
                  id="qualification"
                  class="apply-input"
                >
                  <option value="qualified">Qualified</option>
                  <option value="disqualified">Disqualified</option>
                  <option value="pending">Pending</option>
                  <option value="suspended">Suspended</option>
                  <option value="terminated">terminated</option>
                </select>
              </div>

              <div class="col-lg-6">
                <label class="label" for="statusofApplication">Rating</label>
                <select
                  name="rating"
                  id="applicationrating"
                  class="apply-input"
                >
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">C</option>
                </select>
              </div>

              <div class="col-lg-6">
                <label class="label" for="statusofApplication">Category</label>
                <select
                  name="category"
                  id="applicationCategory"
                  class="apply-input"
                >
                  <option value="tutor">Tutor</option>
                  <option value="applicant">Applicant</option>
                </select>
              </div>

              <!-- BUTTON -->
              <div
                class="py-3 d-lg-flex justify-content-end pe-lg-3 modal-footer"
              >
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close<i class="fa-regular fa-circle-xmark"></i>
                </button>

                <!-- <button class="btn btn-danger delete-row">
                  <a>Delete<i class="fa-solid fa-trash"></i></a>
                </button> -->

                <button
                  class="btn btn-success me-lg-3"
                  id="update-data"
                  type="submit"
                >
                  Update Data<i class="fa-regular fa-circle-check"></i>
                </button>
              </div>
            </div>
          </fieldset>
        </form>

        <!-- TUTORS TABLE -->
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Education</th>
                <th>Status</th>
                <!-- <th>Location</th> -->
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="tutorData" class="shadow-one table-responsive">
              <% tutors.forEach(function(tutor, index) { %>
              <tr data-application-id="<%= tutor.id %>">
                <td><%= index + 1 %></td>
                <td><%= tutor.data.lastName %> <%= tutor.data.firstName %></td>
                <td>
                  <a href="tel:<%= tutor.data.contact%>"
                    ><%= tutor.data.contact%></a
                  >
                </td>
                <td><%= tutor.data.studentStatus %></td>
                <td><%= tutor.data.status %></td>
                <!-- <td><%#= tutor.data.location %></td> -->
                <td><small><%= tutor.data.email %></small></td>
                <td>
                  <!-- ACTION BUTTONS -->
                  <div class="d-flex justify-content-center">
                    <button
                      type="button"
                      class="btn tutorIcon me-2 update-data"
                      data-bs-toggle="modal"
                      data-bs-target="#update"
                    >
                      <a><i class="bi-three-dots"></i></a>
                    </button>

                    <!-- <button class="btn tutorIcon me-2 delete-row">
                      <a><i class="fa fa-trash"></i></a>
                    </button> -->
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>

            <tbody id="applicantsData" class="shadow-one table-responsive">
              <% applications.forEach(function(application, index) { %>
              <tr data-application-id="<%= application.id %>">
                <td><%= index + 1 %></td>
                <td>
                  <%= application.data.lastName %> <%=
                  application.data.firstName %>
                </td>
                <td>
                  <a href="tel:<%= application.data.contact%>"
                    ><%= application.data.contact %></a
                  >
                </td>
                <td><%= application.data.studentStatus %></td>
                <td><%= application.data.status %></td>
                <!-- <td><%#= application.data.location %></td> -->
                <td><small><%= application.data.email %></small></td>
                <td>
                  <!-- ACTION BUTTONS -->
                  <div class="d-flex justify-content-center">
                    <button
                      type="button"
                      class="btn tutorIcon me-2 update-data"
                      data-bs-toggle="modal"
                      data-bs-target="#update"
                    >
                      <a><i class="fa fa-info-circle me-2"></i></a>
                    </button>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </section>

      <!-- UPLOADS SECTION -->
      <section id="adminUpload" class="shadow-two row">
        <div class="col-lg-2 bg-success text-white">
          <a class="navbar-brand text-white my-4" href="#">Uploads</a>
          <div class="d-grid gap-2 py-sm-5">
            <button type="button" class="btn btn-light" id="offerBtn">
              Offer <i class="fa-solid fa-user-tie ms-2"></i>
            </button>
            <button type="button" class="btn btn-light" id="noteBtn">
              Notice <i class="fa-solid fa-clipboard ms-2"></i>
            </button>
            <button type="button" class="btn btn-light" id="emailBtn">
              Email <i class="fa-solid fa-envelope-circle-check ms-2"></i>
            </button>
            <!-- <button type="button" class="btn btn-light">Primary</button> -->
            <!-- <form class="my-5" role="search">
              <input
                class="shadow-two form-control"
                type="search"
                id="searchForm"
                placeholder="Search Form"
              />
            </form> -->
          </div>
        </div>

        <div class="col-lg-10">
          <div class="div" id="">
            <!-- UPLOAD CONTRACT -->
            <section id="offerForm" class="form-apply shadow-two my-3 row">
              <div class="col-lg-6 d-none d-lg-block pb-5"></div>
              <div class="col-lg-6 shadow-two bg-white">
                <h4 class="my-lg-4 my-2">OFFER UPLOADS</h4>
                <div class="my-lg-3">
                  <!-- <label for="">CONTRACT TYPE:</label> <br /> -->
                  <select name="type" id="" class="form-control shadow-two">
                    <option value="">CONTRACT TYPE</option>
                    <option value="DUO">DUO</option>
                    <option value="TRI">TRI</option>
                    <option value="QUAD">QUAD</option>
                    <option value="PENT">PENT</option>
                  </select>
                </div>

                <div class="">
                  <!-- <label class="" for="">Mode of Tuition:</label> <br /> -->
                  <select name="mode" id="" class="form-control shadow-two">
                    <option value="">MODE OF TUITION</option>
                    <option value="online">Online</option>
                    <option value="in-person">In-Person</option>
                  </select>
                </div>

                <div class="my-3">
                  <!-- <label for="">Level:</label> <br /> -->
                  <select name="level" id="" class="form-control shadow-two">
                    <option value="">LEVEL OF STUDENT</option>
                    <option value="KG">KINDERGARTEN</option>
                    <option value="PRIMARY">PRIMARY</option>
                    <option value="JHS">JHS</option>
                    <option value="SHS">SHS</option>
                  </select>
                </div>

                <div class="div">
                  <!-- <label for="">Class:</label> <br /> -->
                  <input
                    class="form-control shadow-two"
                    type="tel"
                    name="class"
                    placeholder="CLASS"
                  />
                </div>

                <div class="my-3">
                  <!-- <label for="">Subjects:</label> <br /> -->
                  <textarea
                    name="subjects"
                    id=""
                    class="form-control shadow-two"
                    placeholder="TUITION SUBJECT(S)"
                  ></textarea>
                </div>

                <div class="div">
                  <!-- <label for="">Lesson Duration</label> <br /> -->
                  <select name="duration" id="" class="form-control shadow-two">
                    <option value="">
                      LESSON DURATION
                      <i class="fa-solid fa-chevron-down ms-auto"></i>
                    </option>
                    <option value="1 hour">1 hour</option>
                    <option value="1.5 hours">1.5 hrs</option>
                    <option value="2 hours">2 hrs</option>
                    <option value="2.5 hours">2.5 hrs</option>
                    <option value="3 hours">3 hrs</option>
                  </select>
                </div>

                <div class="my-3">
                  <!-- <label for="">Location:</label> <br /> -->
                  <input
                    class="form-control shadow-two"
                    type="text"
                    name="location"
                    placeholder="LOCATION"
                  />
                </div>

                <div class="div">
                  <!-- <label for="">Allowance</label> <br /> -->
                  <input
                    class="form-control shadow-two"
                    type="text"
                    name="allowance"
                    placeholder="ALLOWANCE"
                  />
                </div>

                <button
                  class="btn btn-success my-lg-4 my-3 shadow-two"
                  type="submit"
                  name="postContract"
                >
                  POST CONTRACT
                </button>
              </div>
            </section>

            <!-- NOTICE BOARD -->
            <section id="noteForm" class="form-apply shadow-two my-3 row">
              <div class="col-lg-6 d-none d-lg-block pb-5"></div>
              <div class="col-lg-6 shadow-two bg-white">
                <h4 class="my-lg-3">NOTICE BOARD</h4>
                <!-- <h3 class="py-1">NOTICE</h3> -->
                <form action="/notice" method="post" class="">
                  <div class="my-4">
                    <label class="d-flex justify-content-start" for="News Title"
                      >TITLE</label
                    >

                    <input
                      class="shadow-one form-control"
                      type="text"
                      name="title"
                      placeholder="Notice Title"
                    />
                  </div>

                  <div class="my-4">
                    <label class="label" for="News Title">DATE</label>
                    <input
                      class="shadow-one form-control"
                      type="date"
                      name="Date_Issued"
                      placeholder="Select Date"
                    />
                  </div>

                  <div class="my-4">
                    <label for="message" class="label">MESSAGE</label>
                    <textarea
                      class="form-control shadow-one"
                      name="message"
                      id=""
                      placeholder="Enter notice"
                    ></textarea>
                  </div>
                  <!-- <input type="text" name="news" placeholder="News" /> -->
                  <div class="my-4">
                    <button
                      class="btn btn-success shadow-one my-3"
                      type="submit"
                    >
                      SEND NOTICE
                    </button>
                  </div>
                </form>
              </div>
            </section>

            <!-- EMAIL -->
            <section id="emailForm" class="form-apply shadow-two my-lg-4 row">
              <div class="col-lg-6 d-none d-lg-block pb-5 shadow-two"></div>
              <div class="col-lg-6 shadow-two bg-white">
                <h4 class="my-lg-4">EMAIL</h4>
                <!-- <h3 class="py-1">NOTICE</h3> -->
                <form action="/email" method="post" class="">
                  <div class="my-4">
                    <label class="d-flex justify-content-start" for="News Title"
                      >SUBJECT</label
                    >

                    <input
                      class="form-control shadow-one"
                      type="text"
                      name="subject"
                      placeholder="Enter email subject"
                    />
                  </div>

                  <div class="">
                    <label class="label" for="News Title">DATE</label>
                    <input
                      class="form-control shadow-one"
                      type="date"
                      name="date"
                      placeholder="Notice Title"
                    />
                  </div>

                  <div class="my-4">
                    <label for="sendTo" class="label">SEND TO:</label>
                    <select name="sendTo" id="" class="form-control shadow-one">
                      <option value="all">All</option>
                      <option value="tutors">Tutors</option>
                      <option value="applicants">Applicants</option>
                      <option value="clients">Clients</option>
                      <option value="prospects">Prospects</option>
                    </select>
                  </div>

                  <!-- <div class="my-4">
                      <label for="sendTo" class="label mb-3">COPY TO:</label>
                      <select name="sendTo" id="" class="form-control">
                        <option value="supervisors">Supervisors</option>
                        <option value="management">Management</option>
                        <option value="parents">Parents</option>
                      </select>
                    </div> -->

                  <div class="">
                    <label for="message" class="label">MESSAGE</label>
                    <textarea
                      class="form-control shadow-one"
                      name="message"
                      id=""
                      placeholder="Enter notice"
                    ></textarea>
                  </div>

                  <div class="text-success my-2" id="responseMessage"></div>

                  <!-- <input type="text" name="news" placeholder="News" /> -->
                  <div class="my-3">
                    <button
                      class="btn btn-success shadow-one"
                      type="submit"
                      id="adminEmail"
                    >
                      SEND EMAIL
                    </button>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>

<!-- <i class="fa-regular fa-square-plus"></i> -->
<!-- <i class="fa-solid fa-expand"></i> -->
<!-- <i class="fa-solid fa-users"></i> -->

<%- include('partials/end') %>
