<%- include('partials/header') %>

<div class="client-banner"><%- include('partials/NavBar') %></div>
<div class="container-sm services mb-3">
  <h4 class="py-3">TUTOR CODE OF CONDUCT</h4>
  <object
    data="https://firebasestorage.googleapis.com/v0/b/lifeline-edu-site.appspot.com/o/Tutor%20Resources%2FLifeline's%20Tutor%20Code%20of%20Conduct.pdf?alt=media&token=17cbb614-401f-495f-9311-8b4aa8076a6e"
    type="application/pdf"
    class="pdf"
  ></object>
</div>

<%- include('partials/contact') %> <%- include('partials/footer') %> <%-
include('partials/end') %>
