<%- include('partials/header') %>
<div class="banner">
  <%- include('partials/navbar') %>
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6 text-white">
      <h2 class="hero-header mt-lg-5">Do You Need To Take the Next Step?</h2>
      <p class="hero-text">
        Welcome to Lifeline Educational Solutions. Here we provide you the
        solution you need to take your school to the next level. We solve
        leadership and management problems, classroom challenges, student
        challenges...
      </p>
      <button class="btn btn-danger btn-lg shadow-two my-lg-3 my-3">
        BOOK SESSION
      </button>

      <button class="btn btn-success btn-lg shadow-two my-lg-3 my-3 me-3">
        SPEAK TO US
      </button>
    </div>
  </div>
</div>
<div class="container-sm py-2 services">
  <%- include('partials/form') %> <%- include('partials/tutorlist') %> <%-
  include('partials/message') %>
</div>
<%- include('partials/contact') %> <%- include('partials/footer') %> <%-
include('partials/end') %>
