<%- include('partials/header') %>
<div class="banner">
  <%- include('partials/navbar') %>
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6 text-white">
      <h2 class="hero-header mt-lg-5 fs-2">
        Do You Need To Make An Important Decision?
      </h2>
      <p class="hero-text">
        Welcome to Lifeline Educational Solutions. Here we provide you the
        information you need to make informed decisions about the future.
      </p>
      <button class="btn btn-success btn-lg shadow-two my-lg-3 my-3 me-3">
        SPEAK TO US
      </button>
      <button class="btn btn-danger btn-lg shadow-two my-lg-3 my-3">
        BOOK SESSION
      </button>
    </div>
  </div>
</div>
<div class="container-sm py-2 services"><%- include('partials/message') %></div>
<%- include('partials/contact') %> <%- include('partials/footer') %> <%-
include('partials/end') %>
