<%- include('partials/header') %>

<body>
  <!-- HERO PAGE AND NAV-BAR -->
  <div id="banner" class="banner"><%- include('partials/NavBar') %></div>
  <!-- HERO PAGE TEXT -->
  <div class="content row">
    <div class="col-lg-6 col-md-5 col-sm-12"></div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h1 class="hero-header">
        <span class="hero-home shadow">HOME TUITION</span>
      </h1>
      <p class="hero-text lh-base">
        Your Child's Journey to Success Starts Now: We believe that every
        student has the potential to succeed. At Lifeline, we partner with
        parents and guardians to make this potential a reality.
      </p>
      <form class="d-flex justify-content-center" role="search">
        <a
          class="btn btn-danger shadow-two px-lg-4 search-button me-3"
          href="/form"
          ><i class="fa-solid fa-magnifying-glass me-2"></i>GET A TUTOR</a
        >
        <a
          class="btn btn-primary shadow-two d-none d-lg-block search-button"
          href="/apply"
          ><i class="fa-solid fa-people-group me-2"></i>BECOME A TUTOR</a
        >
      </form>
    </div>
  </div>

  <!-----------SERVICES SECTION------------->
  <section id="services">
    <div id="offer" class="container-sm py-2 services">
      <h2 class="py-3 choose-title">OUR SERVICES</h2>
      <hr />
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="card shadow-two hover">
            <img class="service-image" src="images/Tuition.png" alt="" />
            <a class="btn btn-danger btn-service" id="tuition" href="/tuition"
              >Private Tuition</a
            >
            <p class="service-text text-dark-emphasis my-2 px-lg-2 px-4">
              We offer your child the best tuition experience using workable
              methods and techniques.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="card shadow-two hover">
            <img
              class="service-image"
              src="images/Skill.png"
              alt="images/skill"
            />
            <a
              class="btn btn-danger btn-service"
              id="counseling"
              href="/counselling"
              >Counselling</a
            >
            <p class="service-text text-dark-emphasis my-2 px-lg-2 px-4">
              Our guidance and counseling offers your child the helping hand to
              make life-changing decisions.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="card shadow-two hover">
            <img
              class="service-image"
              src="images/counselling.png"
              alt="images"
            />
            <a class="btn btn-danger btn-service" id="skill" href="/consultancy"
              >Consultancy</a
            >
            <p class="service-text text-dark-emphasis my-2 px-lg-2 px-4">
              We proffer solutions to the many educational challenges schools
              face through training and expertise.
            </p>
          </div>
        </div>
      </div>
      <hr />

      <!-- ABOUT SECTION -->
      <%- include('partials/about') %>

      <hr />

      <!----------CHOOSE US SECTION------------>
      <%- include('partials/chooseUs') %>
      <hr />

      <!----------TESTIMONIAL SECTION------------>
      <section
        id="testimonial"
        class="carousel slide banner-half pt-5"
        data-bs-ride="carousel"
        data-bs-interval="6000"
      >
        <!-- Carousel-Indicators -->
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#testimonial"
            data-bs-slide-to="0"
            class="active"
          ></button>
          <button
            type="button"
            data-bs-target="#testimonial"
            data-bs-slide-to="1"
          ></button>
          <button
            type="button"
            data-bs-target="#testimonial"
            data-bs-slide-to="2"
          ></button>
        </div>

        <!-- Carousel-content -->
        <div class="carousel">
          <div class="carousel-inner testimony shadow">
            <h2 class="choose-title pt-lg-3">What Our Clients Say</h2>
            <div class="carousel-item">
              <p class="px-lg-5 px-md-4 py-lg-3 test-text">
                I have had a number of tutors teach my children, but none has
                been as effective as the Lifeline tutor I have now. Thank you.
              </p>
              <i
                class="fa-solid fa-user icon shadow d-none d-lg-inline-block"
              ></i>
              <h4 class="testimonial-parent">Mr. Erik</h4>
            </div>
            <div class="carousel-item active">
              <p class="px-lg-5 px-md-4 py-lg-3 test-text">
                The tutor is very good. He takes his time to teach my children
                and is very patient with them. I can see improvement.
              </p>
              <i
                class="fa-solid fa-user icon shadow d-none d-lg-inline-block"
              ></i>
              <h4 class="testimonial-parent">Mr. Emmanuel</h4>
            </div>
            <div class="carousel-item">
              <p class="px-lg-5 px-md-4 py-lg-3 test-text">
                My four year old daughter had reading challenge.She couldn't
                identify the letters and the sounds. Lifeline came in and
                helped. Now she can read.
              </p>
              <i
                class="fa-solid fa-user icon shadow d-none d-lg-inline-block"
              ></i>
              <h4 class="testimonial-parent">Mrs. David</h4>
            </div>
          </div>
        </div>

        <!-- Carousel-buttons -->
        <button
          class="carousel-control-prev shadow-one"
          type="button"
          data-bs-target="#testimonial"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon caro-icon"></span>
        </button>

        <button
          class="carousel-control-next shadow-one"
          type="button"
          data-bs-target="#testimonial"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon caro-icon"></span>
        </button>
      </section>
      <hr />

      <!--TUTORS SECTION-->

      <%- include('partials/tutorlist') %>

      <!-- EMAIL US  -->

      <%- include('partials/message') %>
    </div>

    <!-- CONTACT-SECTION -->
    <%- include('partials/contact') %>

    <!-- FOOTER SECTION -->
    <%- include('partials/footer') %>
  </section>

  <%- include('partials/end') %>
</body>
