<%- include('partials/header') %>
<div class="banner"><%- include('partials/NavBar') %></div>
<div class="container-sm py-2 services">
  <%- include('partials/form') %> <%- include('partials/tutorlist') %> <%-
  include('partials/message') %>
</div>
<%- include('partials/contact') %> <%- include('partials/footer') %> <%-
include('partials/end') %>
