<%- include('partials/header') %>

<div class="client-banner"><%- include('partials/NavBar') %></div>
<!-----------Our Offers------------->
<div id="lifeline" class="container-sm py-2 my-lg-5 services-apply mt-5 my-4">
  <h2 class="choose-title mt-lg-3">OUR PRIVATE TUITION</h2>
  <p class="fs-4 text-dark-emphasis">
    We offer your ward the best tuition experience
  </p>
  <section class="container-lg py-3 d-block shadow-one" id="">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 banner-smile">
        <div>
          <p class="smile">Learn with a smile. We have you covered.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 bg-danger">
        <p class="lh-lg mt-lg-4 fs-4 px-lg-3 px-4 text-white">
          "Welcome to Lifeline's Private Tuition Service! Empowering students to
          excel academically is our passion. With personalized attention,
          tailored lesson plans, and experienced tutors, we strive to unlock
          your ward's full potential. Join us on a learning journey where
          success becomes a habit.
        </p>
      </div>
    </div>
  </section>

  <section class="container-lg py-3 d-block shadow-one" id="offers">
    <div class="row">
      <h2 class="choose-title pt-3">OUR OFFERS</h2>
      <p class="offer-intro">
        Ours offers suit your ward's need and your budget
      </p>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <div class="card-offer h-70 hover">
          <h5 class="offer-header">DUO OFFER</h5>
          <ul class="card-footer list-group list-group-flush">
            <li class="list-group-item">2 weekly sessions</li>
            <li class="list-group-item">8 monthly sessions</li>
            <li class="list-group-item">Preliminary Assessment</li>
            <li class="list-group-item">Monitoring</li>
            <li class="list-group-item">Progress Reports</li>
            <!-- <button class="btn btn-danger btn-md my-2 offer-btn">
                  SIGN UP
                </button> -->
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <div class="card-offer h-70 hover">
          <h5 class="offer-header">TRI OFFER</h5>
          <ul class="list-group list-group-flush card-footer">
            <li class="list-group-item">3 weekly sessions</li>
            <li class="list-group-item">12 monthly sessions</li>
            <li class="list-group-item">Preliminary Assessment</li>
            <li class="list-group-item">Monitoring</li>
            <li class="list-group-item">Progress Reports</li>
            <!-- <button class="btn btn-danger btn-md my-2 offer-btn">
                  SIGN UP
                </button> -->
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <div class="card-offer h-70 hover">
          <h5 class="offer-header">QUAD OFFER</h5>
          <ul class="card-footer list-group list-group-flush">
            <li class="list-group-item">4 weekly sessions</li>
            <li class="list-group-item">16 monthly sessions</li>
            <li class="list-group-item">Preliminary Assessment</li>
            <li class="list-group-item">Monitoring</li>
            <li class="list-group-item">Progress Reports</li>
            <!-- <button class="btn btn-danger btn-md my-2 offer-btn">
                  SIGN UP
                </button> -->
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <div class="card-offer h-70 hover">
          <h5 class="offer-header">PENT OFFER</h5>
          <ul class="card-footer list-group list-group-flush">
            <li class="list-group-item">5 weekly sessions</li>
            <li class="list-group-item">20 monthly sessions</li>
            <li class="list-group-item">Preliminary Assessment</li>
            <li class="list-group-item">Monitoring</li>
            <li class="list-group-item">Progress Reports</li>
            <!-- <button class="btn btn-danger btn-md my-2 offer-btn">
                  SIGN UP
                </button> -->
          </ul>
        </div>
      </div>
    </div>
    <a href=""></a>
    <button class="btn btn-danger px-lg-5 btn-lg my-lg-2 offer-btn">
      SIGN UP
    </button>
  </section>

  <!-- WHY CHOOSE US -->
  <%- include('partials/chooseUs') %>

  <!-- About us -->
  <section id="about-us">
    <div class="col-sm py-lg-3">
      <!-- <h2 class="py-3 text-white choose-title">ABOUT US</h2> -->
      <hr />
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <img
            class="about-tuition-image"
            src="images/teaching.jpg"
            alt="Lifeline"
          />
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h4 class="about-header">ABOUT US</h4>
          <p class="lh-lg mt-lg-4 fs-4 px-lg-3 px-4 text-white">
            We provide your ward with the best tuition experience using varied
            teaching approaches and problem-solving techniques. We help your
            ward become an excellent student. We are results oriented,
            client-focused, and solution-centred.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Quotations -->
  <section id="quote">
    <blockquote
      class="container-fluid alert-secondary p-2 bg-secondary text-white my-3 h-70"
    >
      <div class="card">
        <H3 class="choose-title pt-4">MOTIVATIONAL QUOTE</H3>
        <p class="motivate py-3 px-4">
          Students do not fail, they are failed by the schools they attend, the
          teachers they meet, the homes they come from and the society they grow
          up in. Every child has the potential to succeed in a supportive
          environment.
        </p>
      </div>
    </blockquote>
  </section>

  <section>
    <div class="container-fluid">
      <div
        id="choose-us"
        class="carousel slide"
        data-bs-interval="6000"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            class="caro-icon active"
            type="button"
            data-bs-target="#choose-us"
            data-bs-slide-to="0"
          ></button>
          <button
            class="caro-icon"
            type="button"
            data-bs-target="#choose-us"
            data-bs-slide-to="1"
          ></button>
          <button
            class="caro-icon"
            type="button"
            data-bs-target="#choose-us"
            data-bs-slide-to="2"
          ></button>
          <button
            class="caro-icon"
            type="button"
            data-bs-target="#choose-us"
            data-bs-slide-to="3"
          ></button>
          <button
            class="caro-icon"
            type="button"
            data-bs-target="#choose-us"
            data-bs-slide-to="4"
          ></button>
        </div>
        <div class="carousel-inner card-offer">
          <h2 class="choose-title">GALLERY</h2>
          <!-- </hr> This line seems to be an error; it's not a valid HTML tag -->
          <div class="carousel-item active card-body">
            <img src="images/Caro-A.jpg" class="w-100 caro-pic" alt="..." />
            <div class="carousel-caption">
              <h4 class="slide-head">PROFESSIONALISM</h4>
              <p class="slide-text">
                Our tutors are carefully recruited for their character,
                knowledge, and professional skills.
              </p>
            </div>
          </div>
          <div class="carousel-item card-body">
            <img src="images/Caro-A.jpg" class="caro-pic" alt="..." />
            <div class="carousel-caption">
              <h4 class="slide-head">SKILL</h4>
              <p class="slide-text">
                Our educators diagnose your ward's challenges and then apply
                methodologies and techniques to deal with it.
              </p>
            </div>
          </div>
          <div class="carousel-item card-body">
            <img src="images/Caro-A.jpg" class="caro-pic" alt="..." />
            <div class="carousel-caption">
              <h4 class="slide-head">PROGRESS</h4>
              <p class="slide-text">
                Lifeline keeps you in on the progress your ward is making. Our
                charges are affordable as well.
              </p>
            </div>
          </div>
          <div class="carousel-item card-body">
            <img src="images/Caro-A.jpg" class="caro-pic" alt="..." />
            <div class="carousel-caption">
              <h4 class="slide-head">CHOICE</h4>
              <p class="slide-text">
                We give you a whole range of offers to choose from; we then help
                your ward based on your choice.
              </p>
            </div>
          </div>
          <div class="carousel-item card-body">
            <img src="images/Caro-A.jpg" class="caro-pic" alt="..." />
            <div class="carousel-caption">
              <h4 class="slide-head">GUIDANCE</h4>
              <p class="slide-text">
                We provide your ward the right assistance and guidance to
                develop at his/her own pace.
              </p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#choose-us"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#choose-us"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>
  </section>
</div>

<!-- Contact section -->
<%- include('partials/contact') %> <br />

<!-- Footer -->
<%- include('partials/footer') %> <br />

<!-- Scripts and Tags -->
<%- include('partials/end') %>
