<%- include('partials/header') %>

<div class="row">
  <!-- SIDE BAR -->
  <div class="col-lg-2 shadow-two col-sm-12 bg-danger" id="">
    <div class="profile-side side-bar">
      <div>
        <div class="">
          <div class="mt-lg-2 side-bar">
            <img
              class="profile-pic d-none d-lg-block"
              src="images/Pic.png"
              alt=""
            />

            <div>
              <h5 class="text-uppercase text-white mb-0 fs-6">
                <%= fullName %>
              </h5>
              <small class="mt-0 text-white"><%= profile.email %></small>
            </div>

            <ul class="navbar-nav text-start ms-4 mt-4">
              <!-- <li class="nav-item">
                <a class="link-user" href="#"
                  ><i class="fa-solid fa-user me-2"></i>PROFILE</a
                >
              </li> -->

              <li class="nav-item">
                <a class="link-user" href="#"
                  ><i class="fa-solid fa-sheet-plastic me-2"></i>DASHBOARD</a
                >
              </li>

              <li class="nav-item">
                <a class="link-user" href="#"
                  ><i class="fa-solid fa-layer-group me-2"></i>TRAINING</a
                >
              </li>

              <li class="nav-item">
                <a class="link-user" href="#"
                  ><i class="fa-regular fa-folder-open me-2"></i>OFFERS</a
                >
              </li>

              <li class="nav-item">
                <a class="link-user" href="#"
                  ><i class="fa-solid fa-file me-2"></i>SUBMIT FORMS</a
                >
              </li>
              <li class="nav-item">
                <a class="link-user" href="#"
                  ><i class="fa-solid fa-list me-2"></i>RESOURCES</a
                >
              </li>
            </ul>

            <!-- <div class="homepage my-3 d-none d-lg-block">
                <img src="/images/homepage.png" alt="" width="120" height="70" />
              </div> -->

            <div class="">
              <form action="/logout" method="GET">
                <button class="btn btn-success shadow-two my-3" type="submit">
                  <i class="fa-solid fa-reply me-3"></i>Logout
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MAIN BODY AREA -->
  <div class="col-lg-10 col-sm-12 col-md-12">
    <div class="client-banner">
      <nav class="navbar navbar-expand d-none d-lg-block text-white">
        <div class="row">
          <div class="col-lg-5 text-start">
            <a class="navbar-brand text-danger fs-4" href="#">LIFELINE</a>
            <h6 class="fs-beauty text-muted ps-2"></h6>
          </div>
          <!-- <i class="fa-solid fa-circle-user me-2"></i> -->
          <div class="col-lg-7 text-end pe-4">
            <i class="fa-solid fa-message pe-2"></i>
            <i class="fa-solid fa-bell pe-2"></i>
            <small
              ><%= fullName %> <i class="fa-solid fa-chevron-down"></i
            ></small>
          </div>
        </div>
      </nav>

      <div class="row">
        <div class="col-lg-6 col-sm-12 text-start py-lg-3 px-2 text-white px-4">
          <h2 class="fs-3 fw-bold mb-0">Hello <%= fullName %>,</h2>
          <p class="fs-beauty fs-5 mt-0">It's <%= date %></p>
          <!-- <h6 class="fs-beauty mt-0">Are You Ready to Begin...</h6> -->
        </div>
      </div>
    </div>

    <div class="admin-body mt-lg-3">
      <!-- WELCOME SECTION -->
      <!-- <div class="client-banner"></div> -->
      <section class="row shadow-two rounded bg-white profile my-4">
        <div class="col-lg-12 col-sm-12 py-3 row">
          <h6 class="text-start fw-bolder py-2">My Data Centre</h6>
          <div class="col-lg-3 col-6">
            <div class="revenue shadow-two bg-white text-primary">
              <h6>Home Work</h6>
              <h6><i class="fa-solid fa-receipt ms-3"></i>45+</h6>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="profit shadow-two bg-white text-info">
              <h6>Articles</h6>
              <h6><i class="fa-solid fa-book-open ms-3"></i>45+</h6>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="client shadow-two bg-white text-danger">
              <h6>Offers</h6>
              <h6><i class="fa-solid fa-handshake ms-3"></i>80+</h6>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="tutor bg-white shadow-two text-success">
              <h6 class="">Tutors</h6>
              <h6 class="ms-2"><i class="fa-solid fa-user"></i>100+</h6>
            </div>
          </div>
        </div>
      </section>

      <!-- BOARD -->
      <section class="row shadow-two rounded py-4">
        <!-- <h4 class="text-start mx-3">My Board</h4> -->
        <div class="col-lg-8">
          <!-- NOTICE BOARD -->
          <div class="shadow-two bg-white row notice">
            <h4 class="fw-bolder">Notice Board</h4>
            <div id="noticeBoard" class="carousel slide">
              <div class="carousel-inner my-1">
                <% notices.forEach(function(notice, index) { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <div class="row mb-2">
                    <div class="col-lg-7">
                      <h5 class="text-start fs-6">
                        Subject: <%= notice.data.title %>
                      </h5>
                    </div>
                    <div class="col-lg-5">
                      <h5 class="text-start fs-6">
                        Issued: <%= notice.data.Date_Issued %>
                      </h5>
                    </div>
                  </div>
                  <p class="text-start fs-6"><%= notice.data.message %></p>
                </div>
                <% }); %>
              </div>

              <!-- <small class="blockquote-footer text-end"><%#= date %></small> -->

              <div class="">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-target="#noticeBoard"
                  data-bs-slide="prev"
                >
                  <i class="fa-solid fa-circle-left"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-target="#noticeBoard"
                  data-bs-slide="next"
                >
                  <i class="fa-solid fa-circle-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- PROFILE -->
        <div class="col-lg-4">
          <div class="quote shadow-two text-start my-lg-1 my-3">
            <h4 class="fw-bolder mt-3">My Profile</h4>
            <div class="col mt-4">
              <h6 class="fs-beauty text-muted text-uppercase">
                <i class="fa-solid fa-user me-2"></i><%= fullName %>
              </h6>
            </div>

            <div class="col">
              <h6 class="fs-beauty text-muted text-uppercase">
                <i class="fa-solid fa-play me-2"></i>Category: <%=
                profile.category %>
              </h6>
            </div>

            <div class="col">
              <h6 class="fs-beauty text-muted text-uppercase">
                <i class="fa-brands fa-codepen me-2"></i> Status: <%=
                profile.status %>
              </h6>
            </div>

            <div class="col">
              <h6 class="fs-beauty text-muted text-uppercase">
                <i class="fa-solid fa-mobile-screen me-2"></i> Contact: <%=
                profile.contact %>
              </h6>
            </div>

            <!-- <p class="blockquote">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
              earum!
            </p> -->
          </div>
        </div>
      </section>

      <!-- RESOURCE CENTRE -->
      <section id="resourceCentre" class="col-lg-12 mt-5 mt-lg-2">
        <!-- <h4>Resource Centre</h4> -->
        <div class="section shadow-two">
          <!-- LIFELINE -->
          <a class="navbar-brand" href="#">Resource Centre</a>

          <div class="row">
            <!-- <div class="col-lg-12 row my-5">
              <div class="col">
                <div class="res hover" id="lBtn">
                  <img class="image-link" src="/images/logo.png" alt="" />
                  <div class="card-title">LIFELINE RESOURCE</div>
                </div>
              </div>

              <div class="col">
                <div class="res hover" id="gBtn">
                  <img class="image-link" src="/images/ges.png" alt="" />
                  <div class="card-title">G.E.S RESOURCE</div>
                </div>
              </div>
              <div class="col">
                <div class="res hover" id="tBtn">
                  <img class="image-link" src="/images/res.png" alt="" />
                  <div class="card-title">TUTOR RESOURCE</div>
                </div>
              </div>

            </div> -->

            <!-- <div class="col"><i class="fa-regular fa-file-pdf"></i></div>
            <div class="col"><i class="fa-regular fa-file-pdf"></i></div>
            <div class="col"><i class="fa-solid fa-file-pdf"></i></div> -->
            <div class="col-12">
              <div class="lifeline text-start" id="lesResource">
                <div class="row my-3 py-2">
                  <div class="col-lg-6">
                    <h5>Lifeline Tutor Repository</h5>
                    <!-- <small>Download Lifeline's Resources</small> -->
                  </div>
                  <div class="col-lg-6 col-sm-12">
                    <form class="d-flex" role="search">
                      <input
                        class="form-control me-2 shadow-one"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                        id="lesResSearch"
                      />
                    </form>
                  </div>
                  <div class="col-lg-12 col-sm-12 my-2">
                    <button type="button" class="btn btn-outline-primary">
                      Lifeline Repository
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                      Reading Clinic
                    </button>
                    <button type="button" class="btn btn-outline-success">
                      G.E.S Repository
                    </button>
                  </div>
                </div>

                <table
                  class="table table-sm table-bordered border-primary table-hover resource"
                >
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Download</th>
                    </tr>
                  </thead>

                  <tbody class="table-group-divider" id="lesResCentre">
                    <tr>
                      <td>1</td>
                      <td>Log Sheet</td>
                      <td>This is used to record tutor attendance.</td>
                      <td>
                        <a
                          class="btn btn-danger"
                          href="https://firebasestorage.googleapis.com/v0/b/lifeline-edu-site.appspot.com/o/Tutor%20Resources%2FLog%20sheet.pdf?alt=media&token=a1a2927c-c086-4f20-8930-808a782794bb"
                          id="download"
                          ><i class="fa-solid fa-download"></i
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Code of Conduct</td>
                      <td>This documents spells out our rules.</td>
                      <td>
                        <a
                          class="btn btn-danger"
                          href="https://firebasestorage.googleapis.com/v0/b/lifeline-edu-site.appspot.com/o/Tutor%20Resources%2FLifeline's%20Tutor%20Code%20of%20Conduct.pdf?alt=media&token=17cbb614-401f-495f-9311-8b4aa8076a6e"
                          id="download"
                          ><i class="fa-solid fa-download"></i
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Tutor's Handbook</td>
                      <td>
                        This document will help you become a better tutor.
                      </td>
                      <td>
                        <a class="btn btn-danger" href="#" id="download"
                          ><i class="fa-solid fa-download"></i
                        ></a>
                      </td>
                    </tr>

                    <!-- <tr>
                      <td>4</td>
                      <td>Reading Stories</td>
                      <td>A huge library of stories for students.</td>
                      <td>
                        <a
                          class="btn btn-danger"
                          href="https://www.uniteforliteracy.com/"
                          >Open</a
                        >
                      </td>
                    </tr> -->
                    <tr>
                      <td>3</td>
                      <td>Phonics</td>
                      <td>Learn the sounds of letters, blending and more.</td>
                      <td>
                        <a
                          class="btn btn-danger"
                          href="https://www.readingbear.org/"
                          target="framename"
                          ><i class="fa-solid fa-download"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- READING CLINIC -->
              <section class="shadow-two my-lg-4 my-3">
                <h5 class="text-start pt-4">Reading Clinic</h5>
                <iframe
                  src="https://www.uniteforliteracy.com/"
                  class="shadow-two resource-frame"
                  frameborder="0"
                ></iframe>
              </section>

              <div class="text-start mt-5">
                <div class="row my-3">
                  <div class="col-lg-6">
                    <h5>Standards Based Curriculum</h5>
                  </div>
                  <div class="col-lg-6">
                    <form class="d-flex" role="search">
                      <input
                        class="form-control me-2 shadow-one"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                        id="gesResSearch"
                      />
                    </form>
                  </div>
                </div>

                <!-- <p>Ghana Education Service (GES) Standards Based Curriculum.</p> -->
                <table
                  class="table table-sm table-bordered border-primary table-hover resource"
                >
                  <thead class="">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">CLASS</th>
                      <th scope="col">SUBJECT</th>
                      <th scope="col">DOWNLOAD</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider" id="gesResCentre">
                    <tr>
                      <td>1</td>
                      <td>BASIC ONE</td>
                      <td>ENGLISH LANGUAGE</td>
                      <td>
                        <a class="btn btn-danger" href="#" id="download"
                          ><i class="fa-solid fa-download"></i
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>BASIC ONE</td>
                      <td>MATHEMATICS</td>
                      <td>
                        <a class="btn btn-danger" href="#" id="download"
                          ><i class="fa-solid fa-download"></i
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>BASIC ONE</td>
                      <td>SCIENCE</td>
                      <td>
                        <a class="btn btn-danger" href="#" id="download"
                          ><i class="fa-solid fa-download"></i
                        ></a>
                      </td>
                    </tr>

                    <tr>
                      <td>4</td>
                      <td>BASIC TWO</td>
                      <td>ENGLISH LANGUAGE</td>
                      <td>
                        <button class="btn btn-danger">
                          <i class="fa-solid fa-download"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>BASIC TWO</td>
                      <td>MATHEMATICS</td>
                      <td>
                        <button class="btn btn-danger">
                          <i class="fa-solid fa-download"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>BASIC TWO</td>
                      <td>SCIENCE</td>
                      <td>
                        <button class="btn btn-danger">
                          <i class="fa-solid fa-download"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- <div class="reading text-start px-5 mt-5">
                <h5>Reading Centre</h5>
                <p>Reading resource to help you teach reading effectively.</p>
                <table
                  id="rResCentre"
                  class="table table-sm table-bordered border-primary table-hover resource"
                >
                  <thead class="">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Material</th>
                      <th scope="col">Description</th>
                      <th scope="col">Download</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    <tr>
                      <td>1</td>
                      <td>Teaching Guide</td>
                      <td>Teaching students using varied approaches.</td>
                      <td>
                        <a class="btn btn-danger" href="#" id="download"
                          ><i class="fa-solid fa-download"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> -->
            </div>
          </div>
        </div>
      </section>

      <!-- CONTRACTS -->
      <section id="jobs" class="col-lg-12 shadow-two">
        <div class="section">
          <a class="navbar-brand pt-3" href="#">Lifeline Offers</a>
          <div class="row">
            <% offers.forEach(function(offer, index) { %>
            <div class="col-lg-4 col-sm-6">
              <div class="card h-80 mb-3 hoverTutor rounded">
                <div class="card-header py-1">
                  <h4><%= offer.data.type %></h4>
                </div>
                <div class="card-body">
                  <p class="fs-6">MODE: <%= offer.data.mode %></p>
                  <p>LEVEL: <%= offer.data.level %></p>
                  <p>DURATION: <%= offer.data.duration %></p>
                  <p>LOCATION: <%= offer.data.location %></p>
                  <h5><%= offer.data.allowance %></h5>
                  <div class="py-2">
                    <small
                      class="text-end text-white shadow-two px-2 py-1 <% if (offer.data.availability === 'awarded') { %> bg-danger <% } else if (offer.data.availability === 'available') { %> bg-success <% } %>"
                    >
                      Status: <%= offer.data.availability %>
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <% if ((index + 1) % 3 === 0) { %>
          </div>
          <div class="row"><% } %> <% }); %></div>
        </div>
      </section>

      <!-- FORMS -->
      <section id="tutorForms" class="col-lg-12 shadow-two my-3">
        <!-- SWITCH BTN -->
        <div class="btn-group my-4" role="group">
          <button
            type="button"
            class="btn btn-outline-primary"
            id="logsheetBtn"
          >
            LOG SHEET
          </button>
          <button
            type="button"
            class="btn btn-outline-primary"
            id="progressBtn"
          >
            PROGRESS REPORT
          </button>
          <!-- <button type="button" class="btn btn-outline-primary" id="assessmentBtn" >ASSESSMENT REPORT</button> -->
        </div>

        <!-- PROGRESS REPORT -->
        <div id="progress" class="px-5">
          <div class="row shadow-two">
            <div class="col-lg-6 d-none d-lg-block"></div>
            <div class="col-lg-6 shadow-two bg-white">
              <h4 class="my-lg-4 my-2">PROGRESS REPORT</h4>
              <div class="my-lg-3">
                <!-- <label for="">CONTRACT TYPE:</label> <br /> -->
                <select name="type" id="" class="profile-input">
                  <option value="">CONTRACT TYPE</option>
                  <option value="DUO">DUO</option>
                  <option value="TRI">TRI</option>
                  <option value="QUAD">QUAD</option>
                  <option value="PENT">PENT</option>
                </select>
              </div>

              <div class="">
                <!-- <label class="" for="">Mode of Tuition:</label> <br /> -->
                <select name="mode" id="" class="profile-input">
                  <option value="">MODE OF TUITION</option>
                  <option value="online">Online</option>
                  <option value="in-person">In-Person</option>
                </select>
              </div>

              <div class="my-3">
                <!-- <label for="">Level:</label> <br /> -->
                <select name="level" id="" class="profile-input">
                  <option value="">LEVEL OF STUDENT</option>
                  <option value="KG">KINDERGARTEN</option>
                  <option value="PRIMARY">PRIMARY</option>
                  <option value="JHS">JHS</option>
                  <option value="SHS">SHS</option>
                </select>
              </div>

              <div class="div">
                <!-- <label for="">Class:</label> <br /> -->
                <input
                  class="profile-input"
                  type="tel"
                  name="class"
                  placeholder="CLASS"
                />
              </div>

              <div class="my-3">
                <!-- <label for="">Subjects:</label> <br /> -->
                <textarea
                  name="subjects"
                  id=""
                  class="profile-input-textarea"
                  placeholder="TUITION SUBJECT(S)"
                ></textarea>
              </div>

              <div class="div">
                <!-- <label for="">Lesson Duration</label> <br /> -->
                <select name="duration" id="" class="profile-input">
                  <option value="">LESSON DURATION</option>
                  <option value="1 hour">1 hour</option>
                  <option value="1.5 hours">1.5 hrs</option>
                  <option value="2 hours">2 hrs</option>
                  <option value="2.5 hours">2.5 hrs</option>
                  <option value="3 hours">3 hrs</option>
                </select>
              </div>

              <div class="my-3">
                <!-- <label for="">Location:</label> <br /> -->
                <input
                  class="profile-input"
                  type="text"
                  name="location"
                  placeholder="LOCATION"
                />
              </div>

              <button
                class="btn btn-success my-lg-4 my-3 shadow-two"
                type="submit"
                name="postContract"
              >
                UPLOAD REPORT
              </button>
            </div>
          </div>
        </div>

        <!-- LOG SHEET -->
        <div id="logsheet" class="px-5 py-3">
          <div class="row shadow-two">
            <div class="col-lg-6 d-none d-lg-block"></div>
            <div class="col-lg-6 shadow-two bg-white py-3">
              <h4 class="my-lg-3">LOG SHEET</h4>
              <form action="" method="post">
                <div class="div">
                  <label class="label" for="">Tutor ID:</label>
                  <input
                    class="apply-input"
                    type="text"
                    name="tutorId"
                    disabled
                  />
                </div>

                <div class="div">
                  <label class="label" for="">Contact:</label>
                  <input
                    class="apply-input"
                    type="tel"
                    name="contact"
                    disabled
                  />
                </div>

                <div class="div">
                  <label class="label" for="">Log Sheet For (Month):</label>
                  <input class="apply-input" type="month" name="date" />
                </div>

                <div class="div">
                  <label class="label" for="">Contract Id:</label>
                  <input class="apply-input" type="text" name="contractId" />
                </div>

                <div class="div">
                  <label class="label" for="">Upload Log Sheet</label>
                  <input class="apply-input" type="file" name="logSheet" />
                </div>

                <button class="btn btn-success my-lg-4" type="submit">
                  SUBMIT
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- TRAINING -->
      <section class="d-none d-lg-block px-5 py-3 shadow-two">
        <div class="px-5 py-5">
          <a class="navbar-brand" href="#">Training</a>

          <div class="">
            <iframe
              src="https://docs.google.com/presentation/d/e/2PACX-1vS6LQfaUqPWGECS-5B8CotEciAAFI3PuLIacC9AXLYehYpd0cHSuTuoyZxxX6bZ41Hot8qi0UjHiJYK/embed?start=false&loop=false&delayms=3000"
              frameborder="0"
              width="920"
              height="569"
              allowfullscreen="true"
              mozallowfullscreen="true"
              webkitallowfullscreen="true"
            ></iframe>
          </div>
        </div>
      </section>

      <!-- MESSAGE -->
      <section class="px-5 py-3 shadow-two my-4">
        <%- include('partials/message') %>
      </section>

      <%- include('partials/dictionary') %>
    </div>
  </div>
</div>

<!-- <nav class="navbar navbar-expand d-lg-none d-block sticky-bottom">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"
          ><i class="fa-solid fa-house-chimney"></i
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-solid fa-suitcase"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-solid fa-sliders"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-solid fa-handshake"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-solid fa-layer-group"></i></a>
      </li>
    </ul>
  </div>
</nav> -->
<%- include('partials/end') %>
