<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tutor - Lifeline</title>

    <!-- BOOTSTRAP CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <!-- CSS STYLE SHEET -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&family=Merriweather:wght@400;900&family=Montserrat:wght@800&family=Noto+Serif:wght@600&family=Open+Sans&family=PT+Sans&display=swap"
      rel="stylesheet"
    />

    <!-- FAVICON -->
    <link rel="icon" href="images/logo.png" />

    <!-- BOOTSTRAP ICONS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />

    <!-- FONT AWESOME -->
    <script
      src="https://kit.fontawesome.com/71529e80f4.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container-fluid row">
      <!-- SIDE BAR -->
      <div class="col-lg-2 shadow-two" id="">
        <div class="profile-side" id="">
          <button
            class="navbar-toggler d-lg-none d-flex justify-content-start py-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasResponsive"
          >
            <span class="navbar-toggler-icon navbar-dark d-flex"></span>
          </button>

          <div
            class="offcanvas-lg offcanvas-start"
            tabindex="-1"
            id="offcanvasResponsive"
            aria-labelledby="offcanvasResponsiveLabel"
          >
            <div class="offcanvas-header">
              <a class="navbar-brand d-lg-none" href="#">LIFELINE</a>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                data-bs-target="#offcanvasResponsive"
              ></button>
            </div>
            <div class="offcanvas-body">
              <div class="d-block mt-lg-2 side-bar">
                <img class="profile-pic" src="images/Pic.png" alt="" />
                <h5><%= profileName %></h5>
                <ul class="nav navbar-nav">
                  <a class="link-user active" href="#">DASHBOARD</a>
                  <a class="link-user" href="#">PROFILE</a>
                  <a class="link-user" href="#">TRAINING</a>
                  <a class="link-user" href="#">OFFERS</a>
                  <a class="link-user" href="#">RESOURCES</a>
                  <a class="link-user" href="#">SUBMIT FORMS</a>
                </ul>
                <div class="">
                  <form action="/logout" method="GET">
                    <button
                      class="btn btn-success shadow-two my-3"
                      type="submit"
                    >
                      Logout
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MAIN BODY AREA -->
      <div class="col-lg-10">
        <!-- <section id="tutorDashboard" class="form-apply">
          <div class="section shadow">
            <h4>Notice Board</h4>
          </div>
        </section> -->

        <!-- PROFILE -->
        <section id="profile" class="form-apply">
          <div class="section shadow-two">
            <h4 class="profile">My Profile</h4>
            <div class="row">
              <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="fullName">Full Name</label><br />
                  <input
                    class="profile-input"
                    type="text"
                    name="fullName"
                    placeholder="<%= fullName %>"
                    id=""
                    disabled
                  />
                </div>
              </div>

              <!-- <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Last Name</label><br />
                  <input
                    class="profile-input"
                    type="text"
                    name="lName"
                    id=""
                    disabled
                  />
                </div>
              </div> -->

              <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Gender</label><br />
                  <input
                    class="profile-input"
                    type="gender"
                    name="gender"
                    placeholder="<%= profile.gender %>"
                    disabled
                    id=""
                  />
                </div>
              </div>

              <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Date of Birth</label><br />
                  <input
                    class="profile-input"
                    type="text"
                    name="DoB"
                    id=""
                    disabled
                    placeholder="<%= profile.DoB %>"
                  />
                </div>
              </div>

              <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Email</label><br />
                  <input
                    class="profile-input"
                    type="email"
                    name="email"
                    id=""
                    placeholder="<%= profile.email %>"
                    disabled
                  />
                </div>
              </div>

              <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Contact</label><br />
                  <input
                    class="profile-input"
                    type="tel"
                    name="contact"
                    placeholder="<%= profile.contact %>"
                    disabled
                    id=""
                  />
                </div>
              </div>

              <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Home GPS Address</label><br />
                  <input
                    class="profile-input"
                    type="tel"
                    name="gps"
                    placeholder="<%= profile.gps %>"
                    id=""
                    disabled
                  />
                </div>
              </div>

              <!-- <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Area of residence</label><br />
                  <input
                    class="profile-input"
                    type="text"
                    name="location"
                    disabled
                    id=""
                  />
                </div>
              </div> -->

              <!-- <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Mobile Money Number</label><br />
                  <input
                    class="profile-input"
                    type="tel"
                    name="momo_number"
                    disabled
                    id=""
                  />
                </div>
              </div> -->

              <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Emergency Contact</label><br />
                  <input
                    class="profile-input"
                    type="tel"
                    name="emergencyNumber"
                    placeholder="<%= profile.emergency %>"
                    disabled
                    id=""
                  />
                </div>
              </div>

              <!-- <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Account Verification</label><br />
                  <input
                    class="profile-input"
                    type="text"
                    name="accountVerification"
                    disabled
                    id=""
                  />
                </div>
              </div> -->

              <!-- <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Tutor Ratings</label><br />
                  <input
                    class="profile-input"
                    type="tel"
                    name="rating"
                    placeholder="<%#= profile.rating %>"
                    disabled
                    id=""
                  />
                </div>
              </div> -->

              <!-- <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Tutor Category</label><br />
                  <input
                    class="profile-input"
                    type="text"
                    name="category"
                    disabled
                    placeholder="<%#= profile.category %>"
                    id=""
                  />
                </div>
              </div> -->

              <div class="col-lg-6 py-sm-3">
                <div class="">
                  <label class="" for="">Tutor Status</label> <br />
                  <input
                    class="profile-input"
                    type="text"
                    name="status"
                    disabled
                    placeholder="<%= profile.status %>"
                    id=""
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- <button type="submit">Update Info</button> -->
        </section>

        <!-- RESOURCE CENTRE -->
        <section id="resourceCentre" class="form-apply">
          <!-- <h4>Resource Centre</h4> -->
          <div class="section shadow">
            <!-- LIFELINE -->
            <div class="lifeline">
              <h5>Lifeline Resources</h5>
              <div class="logSheet py-5 shadow-one">
                <h5>Log Sheet</h5>
                <!-- <p class="px-5 text-start">
                  "The Log Sheet serves as a comprehensive record of your
                  attendance, containing essential information such as the date,
                  subject, time of arrival, and departure, among others. It is
                  imperative for every tutor to consistently utilize this
                  crucial document. To obtain a copy, please click on the
                  download button below."
                </p> -->
                <button class="btn btn-success" type="button">Download</button>
              </div>

              <div class="assessment py-5 shadow-one my-5">
                <h5>Assessment Sheet</h5>
                <p class="px-5 text-start">
                  This document has been meticulously crafted for the purpose of
                  conducting an initial evaluation of a student's areas of
                  difficulty and areas of proficiency. While a parent or student
                  may possess certain insights into a student's challenges
                  and/or strengths, the true demonstration of a student's
                  capabilities may, at times, present a different perspective.
                  This form, when utilized in conjunction with additional
                  assessments, serves as a valuable tool for ascertaining the
                  authentic strengths and weaknesses of a student. To obtain a
                  copy, kindly click the button provided below.
                </p>
                <button class="btn btn-success" type="button">Download</button>
              </div>
              <div class="test">
                <h5>Test Sheets</h5>
                <p class="px-5 text-start">
                  The Test Sheets are versatile tools for evaluating students
                  across various subjects and time frames. They feature
                  pre-prepared sets of questions for every class level. Tutors
                  seeking to assess their students can effortlessly download and
                  utilize these sheets. Furthermore, an empty template has been
                  included for those who wish to create and administer their own
                  questions.
                </p>
              </div>
            </div>
            <div class="ges">
              <h5>Standards Based Curriculum</h5>
              <p>
                The following presents links to download the Ghana Education
                Service (GES) Standards Based Curriculum.
              </p>
            </div>
          </div>
        </section>

        <!-- FORMS -->
        <section id="tutorForms" class="form-apply shadow-two my-3 row banner">
          <div class="col-lg-6 d-none d-lg-block pb-5"></div>
          <div class="col-lg-6 shadow-two bg-white">
            <h4 class="my-lg-3">LOG SHEET</h4>
            <!-- <h3 class="py-1">NOTICE</h3> -->
            <form action="" method="post">
              <div class="div">
                <label for="">Tutor ID:</label> <br />
                <input
                  class="profile-input"
                  type="text"
                  name="tutorId"
                  disabled
                />
              </div>

              <div class="div">
                <label for="">Email:</label> <br />
                <input
                  class="profile-input"
                  type="email"
                  name="tutorId"
                  disabled
                />
              </div>

              <div class="div">
                <label for="">Contact:</label> <br />
                <input
                  class="profile-input"
                  type="tel"
                  name="contact"
                  disabled
                />
              </div>

              <div class="div">
                <label for="">Log Sheet For (Month):</label> <br />
                <input class="profile-input" type="month" name="date" />
              </div>

              <div class="div">
                <label for="">Contract Id:</label> <br />
                <input class="profile-input" type="text" name="contractId" />
              </div>

              <div class="div">
                <label for="">Upload Log Sheet</label> <br />
                <input class="profile-input" type="file" name="logSheet" />
              </div>

              <button class="btn btn-success my-lg-4" type="submit">
                Submit Form
              </button>
            </form>
          </div>
        </section>

        <!-- PROGRESS REPORT -->
        <section id="adminNotice" class="form-apply shadow-two my-3 row banner">
          <div class="col-lg-6 d-none d-lg-block pb-5"></div>
          <div class="col-lg-6 shadow-two bg-white">
            <h4 class="my-lg-4 my-2">PROGRESS REPORT</h4>
            <div class="my-lg-3">
              <!-- <label for="">CONTRACT TYPE:</label> <br /> -->
              <select name="type" id="" class="profile-input">
                <option value="">CONTRACT TYPE</option>
                <option value="DUO">DUO</option>
                <option value="TRI">TRI</option>
                <option value="QUAD">QUAD</option>
                <option value="PENT">PENT</option>
              </select>
            </div>

            <div class="">
              <!-- <label class="" for="">Mode of Tuition:</label> <br /> -->
              <select name="mode" id="" class="profile-input">
                <option value="">MODE OF TUITION</option>
                <option value="online">Online</option>
                <option value="in-person">In-Person</option>
              </select>
            </div>

            <div class="my-3">
              <!-- <label for="">Level:</label> <br /> -->
              <select name="level" id="" class="profile-input">
                <option value="">LEVEL OF STUDENT</option>
                <option value="KG">KINDERGARTEN</option>
                <option value="PRIMARY">PRIMARY</option>
                <option value="JHS">JHS</option>
                <option value="SHS">SHS</option>
              </select>
            </div>

            <div class="div">
              <!-- <label for="">Class:</label> <br /> -->
              <input
                class="profile-input"
                type="tel"
                name="class"
                placeholder="CLASS"
              />
            </div>

            <div class="my-3">
              <!-- <label for="">Subjects:</label> <br /> -->
              <textarea
                name="subjects"
                id=""
                class="profile-input-textarea"
                placeholder="TUITION SUBJECT(S)"
              ></textarea>
            </div>

            <div class="div">
              <!-- <label for="">Lesson Duration</label> <br /> -->
              <select name="duration" id="" class="profile-input">
                <option value="">LESSON DURATION</option>
                <option value="1 hour">1 hour</option>
                <option value="1.5 hours">1.5 hrs</option>
                <option value="2 hours">2 hrs</option>
                <option value="2.5 hours">2.5 hrs</option>
                <option value="3 hours">3 hrs</option>
              </select>
            </div>

            <div class="my-3">
              <!-- <label for="">Location:</label> <br /> -->
              <input
                class="profile-input"
                type="text"
                name="location"
                placeholder="LOCATION"
              />
            </div>

            <div class="div">
              <!-- <label for="">Allowance</label> <br /> -->
              <input
                class="profile-input"
                type="text"
                name="allowance"
                placeholder="ALLOWANCE"
              />
            </div>

            <button
              class="btn btn-success my-lg-4 my-3 shadow-two"
              type="submit"
              name="postContract"
            >
              POST CONTRACT
            </button>
          </div>
        </section>

        <!-- OFFERS -->
        <section id="jobs" class="form-apply shadow-two">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid shadow-two">
              <a class="navbar-brand text-start" href="#">CONTRACTS</a>
              <button
                class="navbar-toggler dropdown-toggle-split"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDarkDropdown"
                aria-controls="navbarNavDarkDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic radio toggle button group"
                  >
                    <input
                      type="radio"
                      class="btn-check"
                      name="btnradio"
                      id="btnradio1"
                      autocomplete="off"
                      checked
                    />
                    <label class="btn btn-outline-success" for="btnradio1">
                      <span class="badge bg-danger shadow-two rounded-pill"
                        >14</span
                      >Applicants</label
                    >

                    <input
                      type="radio"
                      class="btn-check"
                      name="btnradio"
                      id="btnradio2"
                      autocomplete="off"
                    />
                    <label class="btn btn-outline-success" for="btnradio2"
                      >Tutors</label
                    >

                    <input
                      type="radio"
                      class="btn-check"
                      name="btnradio"
                      id="btnradio3"
                      autocomplete="off"
                    />
                    <label class="btn btn-outline-success" for="btnradio3"
                      >Pending</label
                    >
                  </div>
                </ul>
                <form class="d-flex ms-auto shadow-two" role="search">
                  <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                  />
                  <button class="btn btn-outline-success" type="submit">
                    Search
                  </button>
                </form>
              </div>
            </div>
          </nav>
          <div class="section">
            <!-- <h3 class="">Contracts</h3> -->
            <div class="row">
              <% offers.forEach(function(offer, index) { %>
              <div class="col-md-4">
                <div class="card h-80 mb-3 hoverTutor">
                  <div class="card-header py-1">
                    <h4><%= offer.data.type %></h4>
                  </div>
                  <div class="card-body">
                    <p>MODE: <%= offer.data.mode %></p>
                    <p>LEVEL: <%= offer.data.level %></p>
                    <p>DURATION: <%= offer.data.duration %></p>
                    <p>LOCATION: <%= offer.data.location %></p>
                    <h5><%= offer.data.allowance %></h5>
                    <div class="py-2">
                      <form action="/more" class="d-flex justify-content-end">
                        <button class="btn tutorIcon me-2" type="submit">
                          <i class="fa-solid fa-expand"></i>
                        </button>
                        <button type="submit" class="btn tutorIcon">
                          <i class="fa-regular fa-circle-check"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <% if ((index + 1) % 3 === 0) { %>
            </div>
            <div class="row"><% } %> <% }); %></div>
          </div>
        </section>
      </div>
    </div>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!-- JAVASCRIPT -->
    <script src="index.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
